{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  Claim Child Benefit - GOV.UK
{% endblock %}

{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "#",
    serviceName: "Claim Child Benefit",
    containerClasses: "govuk-width-container ",
    navigationClasses: "govuk-header__sign-out-nav",
    navigation: [
      {
        href: "index",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-6">
        Child Benefit
      </h1>

      <p class="govuk-body-l">All journeys for the Child Benefit service.</p>

      <h3 class="govuk-heading-m">Journeys</h3>
    </div>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/child-benefit/end-to-end">Claim Child Benefit</a>
      </h3>
      <p class="govuk-body">End-to-end service to claim Child Benefit through Government Gateway/One GOV login.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="./child-benefit/unauth">Unauthenticated</a>
      </h3>
      <p class="govuk-body">End-to-end to claim Child Benefit without Government Gateway/One GOV login.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="./child-benefit/portal">Claimant portal</a>
      </h3>
      <p class="govuk-body">The portal claimants see when submitting claims.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="./child-benefit/proof-of-entitlement">Proof of entitlement</a>
      </h3>
      <p class="govuk-body">Proof of entitlement to Child Benefit, viewed through the claimant portal.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="./child-benefit/sms">SMS</a>
      </h3>
      <p class="govuk-body">Upon completion of the claim, the claimant may choose to receive an SMS at their UK mobile number.</p>
    </section>
  </div>

{% endblock %}