{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
This service needs JavaScript to work – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="continue" method="post">

<h1 class="govuk-heading-l">This service needs JavaScript to work</h1>

<p class="govuk-body">If you have Javascript turned off in your web browser, turn it on and then reload this page.</p>

<p class="govuk-body">If you cannot turn on JavaScript, find out more about other ways to claim (opens in a new tab)</p>
        
       
      </form>
    </div>
  </div>

 

{% endblock %}