{% extends "layouts/main.html" %}

{% block pageTitle %}
Declaration when child born outside the UK – {{ serviceName }} 
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Declaration
      </h1>

     <p>
      <!--If you have chosen to adopt a child or if the child was born in another country, you confirm:-->

      Adopting a child or having a child born outside the UK will require you to:

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>send the birth certificates or other documents you need with this form.</li> 
        <li>send original documents and not photocopies.</li>
        <!--<li>my claim will be delayed unless I submit the necessary documents, including the birth certificates.</li>-->

      </ul>
    </p>
    
    
      <form class="form" action="../confirmation" method="post">

        
       <!-- {{ govukCheckboxes({
          "name": "declaration-born-outside-uk",
          "items": [
            {
              "value": "yes",
              "text": "I am sending the birth certificates or other documents that you need with this form. I understand if I do not send the documents that you need with this claim form, a decision on my claim will be delayed. I am not sending photocopies."
            }
          ]
        }) }}
      -->
       <div class="govuk-form-group govuk-!-margin-bottom-1">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="t-and-c" name="t-and-c" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="t-and-c">
                <p class="govuk-body">I declare that the information I've given on this form is correct and complete. If I give information which I know is not correct or complete, you may take action against me. I'll tell you about changes to my circumstances when they happen and understand I could be overpaid and may have to pay money back if I do not. </p>
                <p class="govuk-body">I am sending you the birth certificate or other documents with this form. I understand if i do not send the documents that you need with this claims form, a decision on my claim will be delayed. I am not sending photocopies.</p>
              </label>
            </div>
          </div>
        </div>

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You need to send these documents within 30 days. If you don't, your claim may not be accepted.",
  iconFallbackText: "Warning"
}) }}

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
