{% extends "common/layouts/child-benefit.html" %}

{% import "common/macros/layout.html" as layout %}
{% import "common/urls.html" as urls %}

{% block beforeContent %}
  {{ layout.backLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Claim Child Benefit: unauthenticated</h1>
    <p class="govuk-body">End-to-end to claim Child Benefit without Government Gateway/One GOV login.</p>

    {{ documentDesign({
      name: "Timeout pages",
      summary: "To provide the accurate patterns for the service timing out in the journey.",
      date: "15 December 2023",
      revisions: [
        {
          summary: "Session timeout", 
          href: urls.child_benefit_unauth + "/timeout/modal",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "For your security, we deleted your answers page", 
          href: urls.child_benefit_unauth + "/timeout/session-deleted-answers",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "You deleted your answers page", 
          href: urls.child_benefit_unauth + "/timeout/user-deleted-answers",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <h3 class="govuk-heading-s">Sprints</h3>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 14
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="gouk-list govuk-list--bullets">
              <li>Preparing for the unauth journey</li>
              <li>Elaborating user stories</li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

{% endblock %}
