{% extends "layouts/main.html" %}

{% block pageTitle %}
Payment history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Child Benefit</span>
        <h1 class="govuk-heading-l">
         Payment history
        </h1>

        <p class="govuk-body-l govuk-!-font-weight-bold">Your most recent Child Benefit payments</p>

        <p>The last five payments were made in the past two years.</p>

        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: "Amount"
    }
  ],
  rows: [
    [
      {
        text: "9 Oct 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "11 September 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "14 August 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "17 July 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "19 June 2023"
      },
      {
        text: "£24.00"
      }
    ]
  ]
}) }}

       

<h2 class="govuk-heading-m">Find out when you'll be paid next</h2>

<p>If you're paid every 4 weeks, you can find out when you'll be paid next by counting 4 weeks forward from your last payment. </p>

<p>You'll be paid earlier <a href="https://www.gov.uk/bank-holidays" class="govuk-link" rel="noreferrer noopener" target="_blank">if the payment's due on a bank holiday (opens in a new tab).</a></p>

<p>Child Benefit is paid weekly or every 4 weeks. It is not paid by calendar month.</p>


<h2 class="govuk-heading-m">View proof of your entitlement to Child Benefit</h2>

<p>You can <a href="proof-of-entitlement">view proof of your enetitlement Child Benefit.</a> Print the page and use it to show that you qualify.</p>

<p><a href="portal">
    Return to the portal
  </a>
  </p>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}