{% extends "layouts/main.html" %}

{% block pageTitle %}
Payment history – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Child Benefit</span>
        <h1 class="govuk-heading-l">
         Payment history
        </h1>

        <p class="govuk-body-l govuk-!-font-weight-bold">Your most recent Child Benefit payments</p>

        <p>The last five payments were made in the past two years.</p>

        {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Dates and amounts",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Date"
    },
    {
      text: "Amount"
    }
  ],
  rows: [
    [
      {
        text: "9 Oct 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "11 September 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "14 August 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "17 July 2023"
      },
      {
        text: "£24.00"
      }
    ],
    [
      {
        text: "19 June 2023"
      },
      {
        text: "£24.00"
      }
    ]
  ]
}) }}

       

<h2 class="govuk-heading-m">Find out when you'll be paid next</h2>

<p>If you're paid every 4 weeks, you can find out when you'll be paid next by counting 4 weeks forward from your last payment. </p>

<p>You'll be paid earlier <a href="https://www.gov.uk/bank-holidays" class="govuk-link" rel="noreferrer noopener" target="_blank">if the payment's due on a bank holiday (opens in a new tab).</a></p>

<p>Child Benefit is paid weekly or every 4 weeks. It is not paid by calendar month.</p>


<h2 class="govuk-heading-m">View proof of your entitlement to Child Benefit</h2>

<p>You can <a href="proof-of-entitlement">view proof of your enetitlement Child Benefit.</a> Print the page and use it to show that you qualify.</p>

<p><a href="portal">
    Return to the portal
  </a>
  </p>
    </div>
  </div>

{% endblock %}


{% block footer %}
<footer class="govuk-footer" role="contentinfo">
  <div class="govuk-width-container ">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link"
              href="https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you"
              target="_blank" rel="noreferrer">Privacy (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" target="_blank"
              href="/child-benefit/make_a_claim/test/accessibility">Accessibility Statement (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" target="_blank"
              href="/child-benefit/make_a_claim/test/cookies">Cookies (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link"
              href="https://www.tax.service.gov.uk/help/terms-and-conditions" target="_blank" rel="noreferrer">Terms and
              conditions (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link"
              href="https://www.gov.uk/government/collections/child-benefit-forms" target="_blank"
              rel="noreferrer">Child Benefit forms and guidance (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link"
              href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact" target="_blank"
              rel="noreferrer">Contact (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://www.gov.uk/help"
              target="_blank" rel="noreferrer">Help using GOV.UK (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link" href="https://www.gov.uk/cymraeg"
              target="_blank" rel="noreferrer">Rhestr o Wasanaethau Cymraeg (opens in new tab)</a></li>
          <li class="govuk-footer__inline-list-item"><a class="govuk-footer__link"
              href="https://www.staging.tax.service.gov.uk/contact/report-technical-problem?newTab=true&amp;service=463&amp;referrerUrl=https://account-np.hmrc.gov.uk/child-benefit/make_a_claim/test/"
              rel="noreferrer" target="_blank">Is this page not working properly? (opens in new tab)</a></li>
        </ul><svg aria-hidden="true" focusable="false" class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 483.2 195.7" height="17" width="41">
          <path fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145">
          </path>
        </svg><span class="govuk-footer__licence-description">All content is available under the <a
            class="govuk-footer__link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open Government Licence v3.0</a>, except where otherwise stated</span>
      </div>
      <div class="govuk-footer__meta-item"><a class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/"
          target="_blank" rel="noreferrer">© Crown copyright</a></div>
    </div>
  </div>
</footer>
{% endblock %}