{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Declaration when child born outside the UK – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#">Select you declare that the information I've given on this form is correct and complete.</a>
              </li>
              <li>
                <a href="#">Select you are sending the birth certificates or other documents that you need with this form.</a>
              </li>
             
            </ul>
          </div>
        </div>
      </div>


    <!-- ONLY NEEDED FOR BORN ABROAD 
      <h1 class="govuk-heading-l">
        Declaration
      </h1>

     <p>
      If you have chosen to adopt a child or if the child was born in another country, you confirm:

      Adopting a child or having a child born outside the UK will require you to:

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>send the birth certificates or other documents you need with this form.</li> 
        <li>send original documents and not photocopies.</li>
        <li>my claim will be delayed unless I submit the necessary documents, including the birth certificates.</li>

      </ul>
    </p>
  -->
    
    
      <form class="form" action="../confirmation" method="post">
  
            <!-- ERROR class govuk-form-group--error govuk-!-margin-bottom-1 -->
      
        <fieldset class="govuk-fieldset" aria-describedby="countries-error">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Declaration
            </h1>
          </legend>
        
<p>
          {{ govukCheckboxes({
            "name": "child-benefit[end-to-end][declaration]",
            errorMessage: {
              text: "Select you declare that the information I've given on this form is correct and complete."
            },
            "items": [
              {
                "value": "yes",
                "text": "I declare that the information I've given on this form is correct and complete. If I give information which I know is not correct or complete, you may take action against me. I'll tell you about changes to my circumstances when they happen and understand I could be overpaid and may have to pay money back if I do not."
              }
            ]
          }) }}
        </p>
        <p>
        {{ govukCheckboxes({
            "name": "child-benefit[end-to-end][declaration-born-outside-uk]",
            errorMessage: {
              text: "Select you are sending the birth certificates or other documents that you need with this form."
            },
            "items": [
                {
                "value": "yes",
                "text": "I am sending the birth certificates or other documents that you need with this form. I understand if I do not send the documents that you need with this claim form, a decision on my claim will be delayed. I am not sending photocopies."
                }
            ]
            }) }}
        </p>
       <!--
      <p id="countries-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Select the checkbox to confirm the information provided is correct and complete
      </p>
    -->
    <!-- HTML checkbox
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="t-and-c" name="t-and-c" type="checkbox" value="yes">
              <label class="govuk-label govuk-checkboxes__label" for="t-and-c">
                <p class="govuk-body">I declare that the information I've given on this form is correct and complete. If I give information which I know is not correct or complete, you may take action against me. I'll tell you about changes to my circumstances when they happen and understand I could be overpaid and may have to pay money back if I do not. </p>
                <p class="govuk-body">I am sending you the birth certificate or other documents with this form. I understand if i do not send the documents that you need with this claims form, a decision on my claim will be delayed. I am not sending photocopies.</p>
              </label>
            </div>
          </div>
        </div>

    -->

    <!-- {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
            {{ govukWarningText({
            text: "You need to send these documents within 30 days. If you don't, your claim may not be accepted.",
            iconFallbackText: "Warning"
            }) }}
        -->  
        
        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Accept and send
            </button>
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
            </button>
          </div>
  
          <p><a class="govuk-link" href="#">Save and come back later</a></p>      
    

    </fieldset>

    </form>

   
    </div>
    </div>
    {{ layoutServiceLinks() }}
  

{% endblock %}
