{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nationality details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Nationality details
      </h1>

      <form class="form" action="/nationality" method="post">

        {%- from "govuk/components/select/macro.njk" import govukSelect -%}

        {{ govukSelect({
          id: "nationality",
          name: "nationality",
          label: {
            text: "Choose your nationality"
          },
          hint: {
            text: "This is shown on your passport or travel document."
          },
          items: [
            {
              value: "choose",
              text: "Choose nationality",
              selected: true
            },
            {
              value: "Afghan",
              text: "Afghan"
            },
            {
              value: "British",
              text: "British"
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
