{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change nationality – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Change nationality
      </h1>

      <form class="form" action="/nationality" method="post">

        {%- from "autocomplete.html" import locationAutocomplete %}

        {{ locationAutocomplete("nationality-data") }}
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
