{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have added 1 nationality – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">You have added 1 nationality</h1>

      <form class="form" action="/where-have-you-lived" method="post">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Nationality"
              },
              value: {
                text: data['nationality']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "nationality"
                  },
                  {
                    href: "#",
                    text: "Remove",
                    visuallyHiddenText: "nationality"
                  }
                ]
              }
            }
          ]
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          id: "nationality-another",
          name: "nationality-another",
          fieldset: {
            legend: {
              text: "Do you have another nationality?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You can have up to 2 nationalities"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
