{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Ymddiheuriadau, nid yw'r gwasanaeth ar gael ar hyn o bryd</h1>
    <p class="govuk-body">
        Byddwch chi'n gallu defnyddio'r gwasanaeth yn nes ymlaen.
    </p>
    <p class="govuk-body">
        Fe wnaethom gadw'ch atebion. Byddant ar gael am 30 diwrnod.
    </p>
    <p class="govuk-body">
      <a class="govuk-link" href="#">Cysylltwch â Swyddfa Budd-daliadau Plant</a> os oes gennych unrhyw gwestiynau.
    </p>
  </div>
</div>

{% endblock %}
