{% extends "layouts/main.html" %}

{% block pageTitle %}
Sorry, the service is unavailable – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-button-group">
     
  <a class="govuk-back-link" href="#">Home</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
    <p class="govuk-body">
      You will be able to use the service later.
    </p>

    <p class="govuk-body">
      Any answers you provided may not have been saved. When the service is available, you might have to start again.
    </p>

    <!--<p class="govuk-body">
      <a class="govuk-link" href="#">Contact the Child Benefit Office</a> if you have any questions.
    </p>

    <div class="govuk-button-group">
     
      <a class="govuk-back-link" href="#">Home</a>
    </div>

    -->
  </div>
</div>

{% endblock %}
{% block footer %}
{{ govukFooter({
meta: {
items: [
{
href:"https://www.gov.uk/government/publications/data-protection-act-dpa-information-hm-revenue-and-customs-hold-about-you",
text: "Privacy policy (opens in a new tab)",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Accessibility Statement (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Cookies (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href:"",
text: "Terms and conditions (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Child Benefit forms and guidance (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Contact (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Help using GOV.UK (opens in new tab",
attributes: {
target: "_blank"
}
},
{
href: "",
text: "Rhestr o Wasanaethau Cymraeg (opens in new tab)",
attributes: {
target: "_blank"
}
},
{
href: "https://www.staging.tax.service.gov.uk/contact/report-technical-problem?newTab=true&amp;service=463&amp;referrerUrl=https://account-np.hmrc.gov.uk/child-benefit/make_a_claim/dev/",
text: "Is this page not working properly? (opens in new tab)",
attributes: {
target: "_blank"
}
}
],
visuallyHiddenTitle: "Footer links"
}
}) }}
{% endblock %}
