//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.govuk-header nav {
  display: inline-block;
  float: right;
}


.govuk-summary-list__key {
  width: 50%;
}


input[type="text"][disabled] {
  border-color: #0b0c0c;
  color: #0b0c0c;
  opacity: 0.85 !important;
}


.gem-c-organisation-logo__container {
  text-transform: none;
  color: #0b0c0c;
  direction: ltr;
}

.gem-c-organisation-logo__name {
  font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.gem-c-layout-for-public {
  font-family: "GDS Transport", arial, sans-serif;
}

@media (min-width: 40.0625em) {
  .gem-c-organisation-logo {
    font-size: 28px;
  }
}

.gem-c-organisation-logo {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
}

.brand--hm-revenue-customs.brand__border-color,
.brand--hm-revenue-customs .brand__border-color {
  border-color: #009390;
}

@media (min-width: 40.0625em) {
  .gem-c-organisation-logo__crest {
    padding-top: 28px;
    padding-left: 7px;
  }
}


.gem-c-organisation-logo__container {
  text-transform: none;
  text-decoration: none;
  display: block;
  color: #0b0c0c;
  height: auto;
  width: auto;
  direction: ltr;
}

.gem-c-organisation-logo__crest {
  border-left: 2px solid #0b0c0c;
  border-left-color: rgb(11, 12, 12);
  padding-top: 23px;
  padding-left: 6px;
}

.gem-c-organisation-logo__crest--hmrc {
  background: url(/assets/collections/govuk_publishing_components/crests/hmrc_crest_13px-c274a1f1e353d16b9b99609f152b2c617415b39f0f865e446067dcf81b2d8e5b.png) no-repeat 5px 0;
  background-size: auto 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .gem-c-organisation-logo__crest--hmrc {
    background-image: url(/assets/collections/govuk_publishing_components/crests/hmrc_crest_13px_x2-a2dc3225aaf90ba820f7e0fc962ed5640ee79e8acc2c3d17d82c175d27dc4bfa.png);
  }
}

@media only screen and (min-width: 40.0625em) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 40.0625em) and (min-resolution: 192dpi),
only screen and (min-width: 40.0625em) and (min-resolution: 2dppx) {
  .gem-c-organisation-logo__crest--hmrc {
    background-image: url(/assets/collections/govuk_publishing_components/crests/hmrc_crest_18px_x2-6a2f884828f9f582c0ad880cd4a52d655a7cd7d74af9e309bc9f1b519a8cbe0f.png);
  }
}

@media (min-width: 40.0625em) {
  .gem-c-organisation-logo__crest--hmrc {
    background: url(/assets/collections/govuk_publishing_components/crests/hmrc_crest_18px-4dff2a3f6e066da353da9f0a9903ed46360cb5b7769dacc4018aaaeaa84f3d4f.png) no-repeat 6px 0;
    background-image: url("/assets/collections/govuk_publishing_components/crests/hmrc_crest_18px-4dff2a3f6e066da353da9f0a9903ed46360cb5b7769dacc4018aaaeaa84f3d4f.png");
    background-size: auto;
    background-size: auto 26px;
  }
}

.govuk-align-right {
  text-align: right;
}

.app-back-to-top {
  margin-top: govuk-spacing(4);
  margin-bottom: govuk-spacing(6);
}

@include govuk-media-query($from: tablet) {
  .app-back-to-top {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: govuk-spacing(8);
  }

  .js-enabled .app-back-to-top--fixed {
    position: fixed;
    top: calc(100% - #{govuk-spacing(8)});
    bottom: auto;
    left: 50px;
  }

  .js-enabled .app-back-to-top--hidden .app-back-to-top__link {
    @include govuk-visually-hidden-focusable;
  }
}

.app-back-to-top__icon {
  display: inline-block;
  width: .8em;
  height: 1em;
  margin-top: -(govuk-spacing(1));
  margin-right: govuk-spacing(2);
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'GDS Transport', Arial, Helvetica, sans-serif
}

:root {
  --aui-green: #0F7D7B;
}

.aui-wrapper {
  margin: 0;
  padding: 0;
  max-width: none;
}

.aui-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--aui-green);
  padding: 10px;
}

.aui-header__logo {
  width: 100px;
}

.aui-header__left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.aui-header__left-service-name {
  font-size: 15px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
}

.aui-header__left-new {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: white !important;
  line-height: 30px;
}

.aui-header__right {
  display: flex;
  align-items: center;
  gap: 7px;
}

.aui-header__right-button {
  border: 0;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.aui-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

.aui-sidebar {
  height: calc(100vh - 50px);
  background-color: lightgray;
  border-right: 1px solid grey;
}

.aui-page-heading {
  background-color: lightgray;
  margin: 0;
  padding: 8px 12px;
}

.aui-page {
  padding: 15px;
  overflow: hidden;
}

.aui-list-item {
  padding: 15px;
}

.aui-list-item__link {
  text-decoration: none;
  color: black;
}
.aui-list-item__link:visited {
  color: black;
}