{% extends "common/layouts/child-benefit.html" %}
{% import "common/macros/layout.html" as layout %}

{% block pageTitle %}
Check your phone – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ layoutPhaseBanner() }}
{{ layoutLanguageSelect() }}
{{ layoutBackLink() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="question-page" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      <h1 class="govuk-heading-l">Check your phone</h1>

      <p class="govuk-body">We’ve sent you a text message with a security code.</p>

      <p class="govuk-body">It may take a few minutes to arrive.</p>

      {{ govukInput({
      label: {
      text: "Security code (text message code)",
      classes: "govuk-label--m"
      },

      id: "security-code",
      name: "securityCode",
      type: "text",
      autocomplete: "one-time-code",
      classes: "govuk-input--width-4 govuk-input--extra-letter-spacing",
      inputmode: "numeric"
      }) }}



      <p class="govuk-body"><a href="resend-first-time" class="govuk-link">Not received a text message?</a></p>

      {{ layout.saveAndContinue() }}
    </form>
  </div>
</div>

{{ layoutServiceLinks() }}

{% endblock %}