{% extends "common/layouts/child-benefit.html" %}

{% import "common/urls.html" as urls %}

{% block pageTitle %}
SMS  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutBackLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">SMS</h1>
    <p class="govuk-body">Send a text message to claimants using Child Benefit.</p>

    {{ documentDesign({
      name: "SMS confirm a phone number",
      includeWhyIsThisNeeded: true,
      summary: "To allow claimants to recieve a SMS. SMS is a great way to communicate with people.",
      revisions: [
        {
          summary: "SMS confirm a phone number", 
          href: urls.child_benefit_sms + "/confirm-a-phone-number",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Telephone question page", 
          href: urls.child_benefit_sms + "/your-telephone-number-question",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
       
        {
          summary: "Enhance your telephone question page", 
          href: urls.child_benefit_sms + "/your-telephone-number",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Unable to verify phone number",
          href: urls.child_benefit_sms + "/sorry-unable-to-verify-phone",
          tag: {
            text: "New",
            classes: "govuk-tag--blue"
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <p class="govuk-body"><a href="email-address-page.html">GOV Notify</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}