{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers for your details section – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers for your details
      </h1>

      <!-- 
        Pass data: <p>{{ data['nino-data'] }}</p>
      Log data collected: {{ data | log }} -->

      <h2 class="govuk-heading-m">Personal details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "National Insurance number"
            },
            value: {
              text: data['nino-data']
            },
            actions: {
              items: [
                {
                  href: "/national-insurance?nino-data=WE896405D",
                  text: "Change",
                  visuallyHiddenText: "national insurance number"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Is this name correct?"
            },
            value: {
              text: data['changed-name']
            },
            actions: {
              items: [
                {
                  href: "/your-name-details?changed-name=Yes",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you ever been known by any other last names or family names including your maiden name"
            },
            value: {
              text: data['known-name']
            },
            actions: {
              items: [
                {
                  href: "/known-by-any-other-name?known-name",
                  text: "Change",
                  visuallyHiddenText: "known by any other last names"
                }
              ]
            }
          },
          {
            key: {
              text: "Tell us your other name"
            },
            value: {
              text: data['other-last-names']
            },
            actions: {
              items: [
                {
                  href: "/other-name?other-last-names",
                  text: "Change",
                  visuallyHiddenText: "other last names"
                }
              ]
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: data['dateOfBirth'] | replace(" ", "/")
            },
            actions: {
              items: [
                {
                  href: "/your-date-of-birth?dateOfBirth",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Is this address correct?"
            },
            value: {
              text: data['confirm-address']
            },
            actions: {
              items: [
                {
                  href: "/your-address?confirm-address=Yes",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Have you lived at this address for more than 12 months?"
            },
            value: {
              text: data['address-over-year']
            },
            actions: {
              items: [
                {
                  href: "/address-12-months?address-over-year=Yes",
                  text: "Change",
                  visuallyHiddenText: "if you have lived at this address for more than 12 months"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone Number"
            },
            value: {
              text: data['tel-number']
            },
            actions: {
              items: [
                {
                  href: "/your-telephone-nummber?tel-number=07700 900 982",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Nationalities"
            },
            value: {
              text: "British, Brazil"
            },
            actions: {
              items: [
                {
                  href: "/nationality/two-nationalities?nationality",
                  text: "Change",
                  visuallyHiddenText: "nationalities"
                }
              ]
            }
          },
          {
            key: {
              text: "Where have you lived?"
            },
            value: {
              text: data['lived-address-data'] 
            },
            actions: {
              items: [
                {
                  href: "/where-have-you-lived?lived-address-data=Yes",
                  text: "Change",
                  visuallyHiddenText: "where have you lived"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Employment details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Employment status"
            },
            value: {
              text: data['employment']
            },
            actions: {
              items: [
                {
                  href: "/employment-details?employment",
                  text: "Change",
                  visuallyHiddenText: "employment status"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you a member of HM forces or a civil servant working aboard?"
            },
            value: {
              text: data['confirm-forces']
            },
            actions: {
              items: [
                {
                  href: "/one-thing-per-page/are-you-a-member?confirm-forces",
                  text: "Change",
                  visuallyHiddenText: "are you a member of HM forces or a civil servant working aboard?"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you now, or have you at any time in the last 3 months worked in another country?"
            },
            value: {
              text: data['worked-in-another-country']
            },
            actions: {
              items: [
                {
                  href: "/another-country?worked-in-another-country",
                  text: "Change",
                  visuallyHiddenText: "are you now, or have you at any time in the last 3 months worked in another country?"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you now, or have you at any time in the last 3 months received benefits from another country?"
            },
            value: {
              text: data['confirm-country']
            },
            actions: {
              items: [
                {
                  href: "/another-country?confirm-country",
                  text: "Change",
                  visuallyHiddenText: "are you now, or have you at any time in the last 3 months received benefits from another country?"
                }
              ]
            }
          },
          {
            key: {
              text: "Tell us the other country"
            },
            value: {
              text: data['other-country']
            },
            actions: {
              items: [
                {
                  href: "/one-thing-per-page/other-country?other-country",
                  text: "Change",
                  visuallyHiddenText: "other country"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Child Benefit details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Are you claiming child benefit right now?"
            },
            value: {
              text: data['claiming-child-benefit-right-now']
            },
            actions: {
              items: [
                {
                  href: "/claiming-child-benefit?claiming-child-benefit-right-now",
                  text: "Change",
                  visuallyHiddenText: "are you claiming child benefit right now?"
                }
              ]
            }
          },
          {
            key: {
              text: "Are you claiming child benefit right now?"
            },
            value: {
              text: data['claiming-child-benefit-right-now']
            },
            actions: {
              items: [
                {
                  href: "/claiming-child-benefit?claiming-child-benefit-right-now",
                  text: "Change",
                  visuallyHiddenText: "are you claiming child benefit right now?"
                }
              ]
            }
          },
        ]
      }) }}

      <p class="govuk-body">Now complete the next section</p>

      <form action="/task-list/your-details-complete" method="post" novalidate>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>  

      </form>

    </div>
  </div>

  {{ layoutServiceLinks()}}

{% endblock %}
