{% extends "layouts/main.html" %}

{% block pageTitle %}
Tell us the other country – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/claiming-child-benefit" method="post">

        <p>
          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Tell us the other country",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            id: "other-country",
            name: "other-country"
          }) }}
        </p>
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>       

      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
