{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Claim Child Benefit Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Claim Child Benefit
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Claim complete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 4 sections.</p>

      <ul class="govuk-prototype-kit-task-list govuk-prototype-kit-task-list__items govuk-!-padding-left-0">
        <li class="govuk-prototype-kit-task-list__item">


          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="#" aria-describedby="your-details-status">
              Your details
            </a>
          </span>
          <span class="hmrc-status-tag" id="your-details-status-completed">Completed</span>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="#" aria-describedby="relationship-details-completed">
              Relationship details
            </a>
          </span>
          <span class="hmrc-status-tag" id="relationship-status-completed">Completed</span>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="#" aria-describedby="child-details-completed">
              Child details
            </a>
          </span>
          <span class="hmrc-status-tag" id="child-status-completed">Completed</span>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="#" aria-describedby="income-details-completed">
              Income details
          </a>
          </span>
          <span class="hmrc-status-tag" id="payment-status-completed">Completed</span>
        </li>
      </ul>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
        </button>
      </div>

     <!-- TBC If save is required 
      <p><a class="govuk-link" href="#">Save and come back later</a></p>   
    --> 
    </div>
  </div>
   <!-- TBC If ask hmrc online and service-links are required
    <p>
    <a href="#">
        Ask HMRC online (opens in new tab)
    </a>    
  </p>
  -->
  {{ layoutServiceLinks() }}

  {% from 'common/macros/ask-hmrc-online.html' import layoutAskHmrcOnline  %}
  
  {{ layoutAskHmrcOnline() }}


{% endblock %}
