{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
  Choose another nationality – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/nationality/two-nationalities" method="post">

        {% from "layouts/macros.html" import locationAutocomplete %}

        {{ locationAutocomplete({
          id: "nationality-data",
          label: {
            text: "Choose another nationality",
            isPageHeading: true
          },
          hint: {
            text: "This is shown on your passport or travel document."
          }
        }) }}
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
