{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
  Your nationalities – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your nationalities</h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You cannot add another nationality as you have entered a maximum of 2. You can add another nationality by removing an existing one or amending the details of another.",
        iconFallbackText: "Warning"
      }) }}

      <form class="form" action="../where-have-you-lived" method="post">
        <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              British
            </dt>
            <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="add-nationality">
                    Change<span class="govuk-visually-hidden"> British</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="remove-nationality">
                    Remove<span class="govuk-visually-hidden"> British from the list</span>
                  </a>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Nationality
            </dt>
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
              Brazil
            </dt>
            <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="add-nationality">
                    Change<span class="govuk-visually-hidden"> Brazil</span>
                  </a>
                </li>
                <li class="govuk-summary-list__actions-list-item">
                  <a class="govuk-link" href="remove-nationality">
                    Remove<span class="govuk-visually-hidden"> Brazil from the list</span>
                  </a>
                </li>
              </ul>
            </dd>
          </div>
        </dl>
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
