{% extends "common/layouts/child-benefit.html" %}
{% import "common/urls.html" as urls %}

{% block beforeContent %}
  {{ layoutBackLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Claimant portal</h1>
    <p class="govuk-body">The portal claimants see when submitting claims.</p>

    
    {{ documentDesign({
      name: "My claims portal",
      includeWhyIsThisNeeded: true,
      summary: "This page will show the claims in progress and submitted claims. We need to consider the 14
      day SLA for submitted claims.",
      revisions: [
        {
          summary: "Multiple claims in progress Nick", 
          href: urls.child_benefit_portal + "/multiple-claims-portal",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Claims portal - 28 days inset", 
          href: urls.child_benefit_portal + "/my-claims-portal-28-days-inset",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Claims portal - 28 days important warning", 
          href: urls.child_benefit_portal + "/my-claims-portal-28-days-warning",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Claims portal - 28 days important notification-banner", 
          href: urls.child_benefit_portal +  "/my-claims-portal-28-days-important",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Claims portal", 
          href: urls.child_benefit_portal + "/my-claims-portal.html",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        },
        {
          summary: "Claims portal after accessibility audit observations", 
          href: "https://xd.adobe.com/view/0de52437-a50e-40e8-9927-006d5e839eed-58b6/",
          tag: { 
            text: "Xd", 
            classes: "govuk-tag--pink" 
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <p class="govuk-body">This is a feature not a journey.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}