{% extends "common/layouts/child-benefit.html" %}

{% block beforeContent %}
  {{ layoutBackLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Proof of entitlement</h1>
    <p class="govuk-body">Proof of entitlement to Child Benefit, viewed through the claimant portal.</p>

    {{ documentDesign({
      name: "Proof of entitlement and payment history",
      includeWhyIsThisNeeded: true,
      summary: "To allow claimants to view their proof of entitlement and view payment history",
      date: "24 November 2023",
      revisions: [
        {
          summary: "Portal with link to view proof of entitlement", 
          href: "portal",
          tag: { 
            text: "New", 
            classes: "govuk-tag--blue" 
          }
        }
      ]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <p class="govuk-body">This is a feature not a journey.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}