{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Contact details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Your details</span>
        <h1 class="govuk-heading-l">
          Update your telephone and email contact details
        </h1>

      <form class="form" action="/child-benefit/end-to-end/nationality" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
            label: {
              text: "What is your updated telephone number?",
              classes: "govuk-label--m"
            },
            
            classes: "govuk-input--width-20",
            id: "tel-number",
            name: "child-benefit[proof-of-entitlement][tel-number]",
            value: "07707707070"
          }) }}
  
          {{ govukInput({
            label: {
              text: "What is your updated email address?",
              classes: "govuk-label--m"
            },
            hint: {
                text: "We'll send emails from HMRC here. Enter an email address in the correct format"
              },
            classes: "govuk-input--width-20",
            id: "email",
            name: "email",
            type: "email",
            autocomplete: "email",
            spellcheck: false,
            value: "david.test.hmrc.beckham@icloud.com"
          }) }}

          {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

          <div class="govuk-inset-text">
            Email's from HMRC will be sent to:
            <p class="govuk-body govuk-!-font-weight-bold">david.test.hmrc.beckham@icloud.com</p>
          </div>

           {{ govukCheckboxes({
          "name": "updated-consent",
          "items": [
            {
              "value": "Yes",
              "text": "I consent to my telephone number and email address being updated."
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>        


      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
