{% macro documentDesign(options) %}

  <h3 class="govuk-heading-l">{{ options.name }}</h3>

  {% if options.includeWhyIsThisNeeded %}
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
  {% endif %}

  <p>{{ options.summary }}</p>

  {% for revision in options.revisions %}
    {%- from "govuk/components/tag/macro.njk" import govukTag -%}
    <p>
      {{ govukTag({
        text: revision.tag.text,
        classes: revision.tag.classes
      }) }}
      <a href="{{ revision.href }}">{{ revision.summary }}</a>
    </p>
  {% endfor %}

  {% if date %}
    <time class="govuk-body" datetime="">{{ date }}</time>
  {% endif %}

  {% if includeSeparator %}
   <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">
  {% endif %}
  
{% endmacro %}