{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement for Claim Child Benefit service
      </h1>

      <p class="govuk-body-l">
        This accessibility statement explains how accessible this service is, what to do if you have difficulty using it, and how to report accessibility problems with the service.
      </p>

      <p>
        This service is part of the wider GOV.UK website. There is a separate accessibility statement for the main GOV.UK website.
       </p> 
       <p>
        This page only contains information about the Claim Child Benefit service, available at https://www.tax.service.gov.uk/fill-online/claim-child-benefit.
      </p>

      <h2 class="govuk-heading-l">Using this service</h2>

      <p>
        Use this form to claim Child Benefit if you or your partner are responsible for a child who is under 16, or under 20 if they are in approved education or training.
      </p>

      <p class="govuk-body">
        This service is run by HM Revenue and Customs (HMRC). We want as many people as possible to be able to use this service. 
        This means you should be able to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts</li>
      <li>zoom in up to 300% without the text spilling off the screen</li>
      <li>get from the start of the service to the end using just a keyboard</li>
      <li>get from the start of the service to the end using speech recognition software</li>
      <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We have also made the text in the service as simple as possible to understand.</p>

    <p class="govuk-body">
      <a class="govuk-link" href="https://mcmw.abilitynet.org.uk">AbilityNet has advice</a>
       on making your device easier to use if you have a disability.
  </p>

  <h2 class="govuk-heading-l">How accessible this service is</h2>

  <p class="govuk-body">This service is partially compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</p>

  <p class="govuk-body">Some people may find parts of this service difficult to use:</p>

  
  <ul class="govuk-list govuk-list--bullet" id="accessibility-problems">
  
    <li>Screen-reader users may not be able to identify that they are on different pages, while using the service as it
      has identical page titles.</li>
    <li>Questions that users need to answer are not marked up with labels for the form field. Screen-reader users may find it difficult to answer them correctly.</li>
    <li>On the 'Claim Child Benefit' page, the warning icon has no alternate text so its meaning is not there for screen-reader users.</li>
    <li>The National Insurance number is hidden from screen-reader users on the 'Your National Insurance number' page.</li>
    <li>Screen-reader users may find it difficult to identify the purpose of the field, as the page does not group the multiple duplicated address fields on the 'Confirm your address' page.</li>
    <li>The dialog box that allows users to extend the time to complete tasks is missing. Users are not warned before being logged out when their session ends.</li>
    <li>The text on the 'change' links on the 'check your answers pages' are misleading screen-reader users</li>
    <li>The error for the name field on the 'What are your employment details?' and 'What are the details of the child you want to claim for?' pages are misleading users by targeting the wrong checkbox option.</li>
    <li>As the page has not been marked up correctly, screen-reader users may find it difficult to identify the question they need to answer on the 'Are you claiming for Child Benefit?' and the 'Check your answers for your application' pages</li>
    <li>Due to broken functionality, occasionally pages do not show which field has an error, making it difficult to identify and correct.</li>
    <li>On the 'What are the bank details that Child Benefit can be paid to?' page, users may send the wrong information as the sort code field has misleading instructions.</li>
    <li>On the 'What are the bank details that Child Benefit can be paid to?' page, the error message does not correctly describe what needs to be corrected.</li>
    <li>Keyboard users must navigate through the repeating 'back link' on every page.</li>
    <li>Screen-reader users will find it difficult to identify how 'Your claim applications' page is structured as screen readers will not correctly describe the headings and the purpose of each section.</li>
    <li>The claims application sections on the 'Your claim applications' page have not implemented the ARIA attributes correctly. This may be confusing for screen-reader users, as they are not expecting to have them on plain text elements.</li>
    <li>The links on the 'Ask HMRC online' link and the child's name links on 'Your claim applications' page do not function as links, as keyboard users cannot tab onto them.</li>
    <li>The table headings for the claims application sections on the 'Your claim applications' page have not been correctly implemented which can cause problems for screen-reader users. All the content is presented as 1 column while providing the information in table headings.</li>
    <li>The copy on the 'Child Benefit helpline' that should describe the contact details on the 'Your claim applications' page, is marked up as one of the list items. This could be confusing for screen-reader users.</li>
    *<li>When a user signs out due to broken functionality, the content on the 'Claim Child Benefit' page appears below the content that they are currently on. This can cause confusion and some disorientation of the order of the elements.</li>
    <li>All pages have identical error messages that do not describe the field that must be populated.</li>
    <li>When users enter spaces in any of the date fields, the error message tells users that the field is not populated.</li>
    <li>The heading of the 'Confirm your address' page misleads users, they need to fill the address fields rather than confirm the address.</li>
    <li>The heading on the 'What is your nationality?' page does not describe all questions that the user needs to answer on this page.</li>
    <li>The page headings on the 'Check your answers' pages do not specify the section that they are associated with which might pose problems for anyone with cognitive impairments.</li>
    <li>The address, name, telephone and date of birth fields do not offer users the option to populate the fields from data that was already saved in their browser.</li>
    <li>Due to broken functionality, screen-reader users may miss errors on some pages.</li>
    <li>On the 'What are the bank details that Child Benefit can be paid to?' and 'What are the details of the child you want to claim for?' pages, the error messages suggest that the user can save the claim but this option is not provided on those pages.</li>  
  </ul>


  <h2 class="govuk-heading-l">What to do if you have difficulty using this service</h2>

  <p class="govuk-body">
    You can <a class="govuk-link" href="https://www.gov.uk/get-help-hmrc-extra-support">contact HMRC for extra support</a>
     if you need help with filling in forms or getting a different format, like large print, audio recording or Braille.
</p>

<h2 class="govuk-heading-l">Reporting accessibility problems with this service</h2>

<p class="govuk-body">We are always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we are not meeting accessibility requirements, 
  <a class="govuk-link" href="https://www.tax.service.gov.uk/contact/accessibility?service=claim-child-benefit&amp;referrerUrl=https%3A%2F%2Fwww.tax.service.gov.uk%2Ffill-online%2Fclaim-child-benefit%2Frecently-claimed-child-benefit%3F_ga%3D2.37580512.170046323.1692877957-1346543562.1678892511">report the accessibility problem</a>.
</p>

<h2 class="govuk-heading-l">If you are not happy with our response</h2>

<p class="govuk-body">
  The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you are not happy with how we respond to your complaint,
  <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>
  or the
  <a class="govuk-link" href="https://www.equalityni.org/Home">Equality Commission for Northern Ireland (ECNI)</a>
  if you live in Northern Ireland.
</p>

<h2 class="govuk-heading-l">Contacting us by phone or getting a visit from us in person</h2>

<p class="govuk-body">We provide a text relay service if you are deaf, hearing impaired or have a speech impediment.</p>

<p class="govuk-body">We can provide a British Sign Language (BSL) interpreter, or you can arrange a visit from an HMRC advisor to help you complete the service.</p>

<p class="govuk-body">
  Find out 
  <a class="govuk-link" href="https://www.gov.uk/get-help-hmrc-extra-support">how to get extra support from HMRC</a>.
</p>

<h2 class="govuk-heading-l">Technical information about this service’s accessibility</h2>

<p class="govuk-body">
  HMRC is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<p class="govuk-body">
  This service is partially compliant with the  <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances listed below.
</p>

<ol class="govuk-list govuk-list--number">

  <li>Identical page titles throughout the service, that do not let screen-reader users know which page they are currently on. This fails WCAG 2.1 success criterion 2.4.2 Page Titled
  date: TBC</li>

  <li>Questions are not marked up as labels for form fields. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
  date: TBC</li>

  <li>The warning icon has missing alternative text. This fails WCAG 2.1 success criterion 1.1.1 Non-text Content
    date: TBC</li>
  
  <li>National Insurance numbers displayed in disabled text field. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
    date: TBC</li>
  <li>Different groups address fields that are not marked up as a group. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
    date: TBC  </li>
  <li>A timeout occurs without the ability for the user to extend their session. This fails WCAG 2.1 success criterion 2.2.1 Timing Adjustable
    date: TBC </li>
  <li>Incorrect visually hidden text applied on 'change' links. This fails WCAG 2.1 success criterion 2.4.4 Link Purpose
    date: TBC </li>
  <li>Error identification incorrectly applied on wrong checkbox option. This fails WCAG 2.1 success criterion 3.3.1 Error Identification
    date: TBC </li>
  <li>The question the user needs to know in order to make a decision is not implemented as 'legend' on the group of form fields. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
    date: TBC  </li>
  <li>Validation missing error identification against field in error. This fails WCAG 2.1 success criterion 3.3.1 Error Identification
    date: TBC  </li>
  <li>Sort code instructions suggest the use of hyphens when page validation does not accept them. This fails WCAG 2.1 success criterion 3.3.2 Labels or Instructions
    date: TBC</li>
  <li>Error messages for sort code are not specific. This fails WCAG 2.1 success criterion 3.3.3 Error Suggestion
    date: TBC</li>
  <li>The 'skip link' does not bypass the 'back link'. This fails WCAG 2.1 success criterion 2.4.1 Bypass Blocks
    date: TBC</li>
  <li>'Your claim applications' page content is not marked up correctly.  This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
    date: TBC </li>
  <li>Improper use of aria attributes.  This fails WCAG 2.1 success criterion 4.1.2. Name role Value
    date: TBC 'href' attribute on links prevents keyboard users from accessing them. This fails WCAG 2.1 success criterion 2.1.1 Keyboard
    date: TBC </li>
  <li>Table markup is not implemented correctly, missing table headings and content placed in 1 column. This fails WCAG 2.1 success criterion 1.3.2 Meaningful Sequence
    date: TBC</li>
  <li>The list of contact details not using correct page structure. This fails WCAG 2.1 success criterion 1.3.1 Info and Relationships
    date: TBC </li>
  <li>'Claim Child benefit' page appears below the content of other pages, duplicating page structure. This fails WCAG 2.1 success criterion 1.3.2 Meaningful Sequence
    date: TBC</li>
  <li>Not specific error messages. This fails WCAG 2.1 success criterion 3.3.3 Error Suggestion
    date: TBC </li>
  <li>The date fields do not accept spaces and provide incorrect error messages to users. This fails WCAG 2.1 success criterion 3.3.3 Error Suggestion
    date: TBC</li>
  <li>The page heading does not describe the action the user needs to take on the 'Confirm your address' page. This fails WCAG 2.1 success criterion 2.4.6 Headings and Labels
    date: TBC </li>
  <li>'What is your nationality?' page heading is describing only the first nationality field, where users are presented with additional questions. This fails WCAG 2.1 success criterion 2.4.6 Headings and Labels
    date: TBC </li>
  <li>The check your answers pages have not descriptive, generic page headings and reused on every section. This fails WCAG 2.1 success criterion 2.4.6 Headings and Labels
    date: TBC  </li>
  <li>The address, name, telephone and date of birth fields are missing autocomplete attributes which means users will be unable to use the browser's saved data to populate these fields easily. This fails WCAG 2.1 success criterion 1.3.5 Identify Input Purpose
    date: TBC</li>
  <li>The missing error summary. This fails WCAG 2.1 success criterion 4.1.3 Status Messages
    date: TBC</li>
  <li>The service is missing save options on the 'What are the bank details that Child Benefit can be paid to?' and 'What are the details of the child you want to claim for?' pages. This fails WCAG 2.1 success criterion 4.1.3 Status Messages
    date: TBC</li>
  
</ol>

<h2 class="govuk-heading-l">How we tested this service</h2>

<p class="govuk-body">The service was last tested on 24 July 2023 and was checked for compliance with WCAG 2.1 AA.</p>

<p class="govuk-body">The service was built using parts that were tested by the
  <a class="govuk-link" href="https://www.digitalaccessibilitycentre.org/">Digital Accessibility Centre</a>. The full service was tested by HMRC and included disabled users.
</p>

<p class="govuk-body">This page was prepared on 24 August 2023.</p>

<a lang="en" hreflang="en" class="govuk-link hmrc-report-technical-issue " rel="noreferrer noopener" target="_blank" href="https://www.tax.service.gov.uk/contact/report-technical-problem?newTab=true&amp;service=accessibility-statement&amp;referrerUrl=https%3A%2F%2Fwww.tax.service.gov.uk%2Faccessibility-statement%2Fclaim-child-benefit%3FreferrerUrl%3Dhttps%253A%252F%252Fwww.tax.service.gov.uk%252Ffill-online%252Fclaim-child-benefit%252Frecently-claimed-child-benefit%253F_ga%253D2.37580512.170046323.1692877957-1346543562.1678892511">Is this page not working properly? (opens in new tab)</a>

</div>
  </div>

{% endblock %}
