{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Who are the account holders– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form class="form" action="bank-details" method="post">

            {% from "govuk/components/radios/macro.njk" import govukRadios %}
            {% from "govuk/components/input/macro.njk" import govukInput %}
            {% from "govuk/components/select/macro.njk" import govukSelect %}
            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
            {% from "govuk/components/details/macro.njk" import govukDetails %}

            {{ govukRadios({
            classes: "govuk-radios",
            name: "account-holder",
            fieldset: {
            legend: {
            text: "Are you the account holder?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
            }
            },
            items: [
            {
            value: "single-account",
            text: "Yes, I am the only account holder"
           
            },
            {
            value: "joint-account",
            text: "Yes, I am the account holder of a joint account"
            },
            {
            value: "no-account",
            text: " No"
            
            }
            ]
            }) }}

           
            <button class="govuk-button" data-module="govuk-button">Continue</button>

        </form>

    </div>
</div>

{{ layoutServiceLinks() }}

{% endblock %}