{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
How often do you want to get paid child benefit? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      
      <form class="form" action="bank-payment-details" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "How often do you want to get paid child benefit?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "weekly",
              text: "Weekly"
            },
            {
              value: "4-weekly",
              text: "4 weekly"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>       

      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
