{% extends "common/layouts/child-benefit.html" %}

{% block beforeContent %}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Child Benefit service</h1>
    <p class="govuk-body">A service for claimants to submit a claim for Child Benefit.</p>

    <h3 class="govuk-heading-l">End to end</h3>

    <p>Updated with declaration for adoption and born outside the UK</p>

    <ul class="govuk-list">
      <li>
        {{ govukTag({
          text: "New",
          classes: "govuk-tag--blue"
        }) }}
        <a class="govuk-link govuk-body" href="end-to-end/start">Journey</a>
      </li>
    
      <li>
        {{ govukTag({
          text: "outdated",
          classes: "govuk-tag--grey govuk-list"
        }) }}
        <a class="govuk-link govuk-body" href="public/pdf/SCA-Child-Benefit-Journey.pdf">
          Tube map for claimant journey
        </a>
      </li>

      <li>
        {{ govukTag({
          text: "outdated",
          classes: "govuk-tag--grey govuk-list"
        }) }}
        <a class="govuk-link govuk-body" href="public/svg/SCA-Journey-02.svg">
          Tube map SVG
        </a>
      </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">
    <h3 class="govuk-heading-l">Task list</h3>
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
    <p>To help the claimant know where they are in the journey</p>
    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
     
      <h4 class="govuk-heading-m">Task list examples</h4>
     
      <ul class="govuk-list govuk-list--bullet">
        <li> <a href="/child-benefit/end-to-end/task-list/task-list-page">Task list using HMRC status tags (Completed, In progress and Not started)</a></li>
        <li> <a href="/child-benefit/end-to-end/task-list/task-list-page-complete">Task list for claim completed</a></a></li>
      </ul>
    </p>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Enhancements to the journey</h3>
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
    <p>To adhere to GDS design patterns, certain pages require questions to be on separate pages.</p>

      <span class="govuk-caption-l">US-10885</span>
      <h4 class="govuk-heading-m">Remove the reveal further questions on the page</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="end-to-end/one-thing-per-page/tell-us-the-other-name">Tell us the other name</a></li>
        <li><a href="end-to-end/one-thing-per-page/tell-us-your-last-address">Tell us your last address</a></li>
        <li><a href="end-to-end/nationality/add-nationality">Other nationality (reuse the add to list design pattern. See the 'Children added' design)</a></li>
        <li><a href="end-to-end/claiming-child-benefit">Are you claiming child benefit right now new step with the eldest child's details</a></li>
      </ul>

      <span class="govuk-caption-l">US-11186</span>
      <h4 class="govuk-heading-m">Remove Child reveal questions</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="end-to-end/multiple-children">What are the details of the child you want to claim for?</a></li>
        <li><a href="end-to-end/multiple-children/previous-claimant">Previous claimant details (Postcode/address look up)</a></li>
        <li><a href="end-to-end/multiple-children/claimed-child-benefit">Other claimant details (Postcode/address look up)</a></li>
        <li><a href="end-to-end/multiple-children/child-address">Tell us about who the child lives with (Postcode/address look up)</a></li>
      </ul>

      <span class="govuk-caption-l">US-11185</span>
      <h4 class="govuk-heading-m">Remove Partner reveal questions</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="end-to-end/one-thing-per-page/partner-claiming-child-benefit">Is your partner claiming child benefit right now includes new step with eldest child details (REUSE  US-10885)</a></li>
        <li><a href="end-to-end/nationality/partner-nationality">Partner nationality details - Adding in a new capture step to the nationality page if claimant select 'yes' to another nationality (REUSE US-10885)</a></li>  
      </ul>

      <span class="govuk-caption-l">US-10233</span>
      <h4 class="govuk-heading-m">Split up employment status questions</h4>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="end-to-end/one-thing-per-page/other-benefits">What other benefits do you claim?</a></li>
        <li><a href="end-to-end/one-thing-per-page/are-you-a-member">Are you a member of HM Forces or a civil servant working abroad?</a></li>
      </ul>


    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">BRMS failure</h3>
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
    <p>Stronger BRMS messaging</p>
    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/brms">BRMS notification banner and warning</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Service unavailable</h3>
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
    <p>When the NPS service is called we need to prevent the claim being processed. </p>
    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/service-unavailable-page/api-error.html">Service down</a>
    </p>
    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/service-unavailable-page/nps-service-unavailable">Service unavailable</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">View the digital version of the claim form</h3>
    <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
    <p>
      We know some people might have trouble reading a PDF because the text doesn't adjust to fit the screen when the
      PDF file is enlarged.
      This means that users may have to scroll horizontally, making it more difficult to read.
    </p>
    <p>
      To make it easier, we offer digital versions of claim form info and other details that are usually shown in a
      PDF. This includes official use info for claims about children born outside the UK when returning documents.
    </p>

    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/post-print/claim-child-benefit-by-post">View claim form</a>
    </p>
    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/post-print/return-slip">View return slip</a>
    </p>

    <p>
      {{govukTag({
      text: "Test",
      classes: "govuk-tag--purple"
      })}}
      <a href="end-to-end/post-print/declaration-print">View declaration (print preview test)</a>
    </p>

    <p>
      {{govukTag({
      text: "Xd",
      classes: "govuk-tag--pink"
      })}}
      <a class="govuk-link govuk-link" href="https://xd.adobe.com/view/afd64ffe-d173-4802-921d-702e06c8c44b-fa85/">
        Submitted claim view
      </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Multiple children</h3>

    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/multiple-children/children-list-one-child">
        Summary card - There must be at least one child on the claim (body copy)</a>

    </p>

    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/multiple-children/children-list-important">Summary card - important notification banner example</a>

    </p>

    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/multiple-children/add-to-a-list">HMRC design pattern Add to a list example</a>

    </p>

    <p><a href="end-to-end/multiple-children/index">Journey</a></p>

    <p><a href="public/pdf/SCA-multiple-children.pdf">Tube map</a></p>

    <p>{{govukTag({
      text: "Xd",
      classes: "govuk-tag--pink"
      })}}<a href="https://xd.adobe.com/view/6f71320b-f041-4ec6-a9a0-46a9f8f3f754-3a22/">Tell us about another child</a>
    </p>
    <p>
      {{govukTag({
      text: "Xd",
      classes: "govuk-tag--pink"
      })}}
      <a href="https://xd.adobe.com/view/0f501f61-52a1-4599-ae59-791eadd5376a-5a03/">
        Summary cards for multiple children
      </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Born abroad or adoption declaration and Confirmation page</h3>


    <p>
      {{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}}
      <a href="end-to-end/declaration/born-abroad/make-a-declaration-agree">Declaration DWP pattern</a>
    </p>
    <p><a href="end-to-end/declaration/confirmation-live">Confirmation (live service)</a></p>
    <p><a href="end-to-end/declaration/born-abroad/make-a-declaration">Born aboard declaration</a></p>
    <p><a href="end-to-end/declaration/born-abroad/error-make-a-declaration">Error born aboard declaration</a></p>

    <p><a href="end-to-end/declaration/born-abroad/">Error declaration</a></p>

    <p><a href="end-to-end/declaration/confirmation.html">Confirmation</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Service unavailable</h3>
    <p><a href="end-to-end/service-unavailable-page/index.html">Child Benefit service unavailable page</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Sign out</h3>
    <p>{{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}} <a href="modal-dialog.html">Sign out modal dialog</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Waiting to hear</h3>

    <p>{{govukTag({
      text: "New",
      classes: "govuk-tag--blue"
      })}} <a href="end-to-end/waiting-to-hear.html">Waiting to hear if you are eligible </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">Tell us your nationality options</h3>

    <p><a href="end-to-end/nationalities.html">Tell us your nationality example with conditonal radio's </a></p>

    <p><a href="end-to-end/nationality.html">Tell us your nationality example with a select</a></p>

    <p><a href="end-to-end/nationality-autocomplete.html">Tell us your nationality example with accessibile autocomplete</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h3 class="govuk-heading-l">High income earner options</h3>

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

    {{ govukInsetText({
    text: "Net income for you and your partner based on your net income. Each answer on your income navigates you to a
    page with information on the charge and if you want to claim Child Benefit."
    }) }}


    <p><a href="end-to-end/your-net-income.html">Your net income</a></p>
    <p><a href="end-to-end/partner-net-income.html">Partner's net income</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

    <h4 class="govuk-heading-m">High income design history iterations</h3>


      <p><a href="end-to-end/hic.html">Tell us if you're a high income earner - showing body copy, and both questions</a></p>

      <p><a href="end-to-end/hic-one.html">Tell us if you're a high income earner - one-thing-per-page</a></p>

      <p><a href="end-to-end/hic-three.html">Tell us if you're a high income earner - one-thing-per-page (removed are you a high
          income earner?)</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

      <h3 class="govuk-heading-l">Find an address</h3>

      <p><a href="end-to-end/postcode.html">Enter your postcode</a></p>
      <p>
        {{govukTag({
        text: "Xd",
        classes: "govuk-tag--pink"
        })}}
        <a class="govuk-link govuk-link" href="https://xd.adobe.com/view/e471adf7-3c03-4483-830d-c32b532fc9bb-b122/">
          Address flow
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

      <h3 class="govuk-heading-l">Bank, building society or universal credit options</h3>

      <p><a href="end-to-end/bank-payment-details.html">What are your payment details?</a></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="end-to-end/no-bank-details.html">No - UK bank account or building society</a></li>
        <li><a href="end-to-end/bank-account-holders.html">Who are the account holders</a></li>
        <li><a href="end-to-end/bank-details.html">Bank details</a></li>
        <li><a href="end-to-end/building-society-details.html">Building society details</a></li>
      </ul>

      <p><a href="end-to-end/error-bank-details.html">Error summary for the payment details</a></p>

      <p><a href="end-to-end/paid-child-benefit.html">If claimant is on benefits OR martial status single, widowed, separated or
          divorced</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" aria-hidden="true">

      <h3 class="govuk-heading-l">Service timeout</h3>

      <p><a href="end-to-end/service-timeout.html">When the user is signed in</a></p>

      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

  </div>


  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <h3 class="govuk-heading-s">Sprints</h3>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 14
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-!-font-weight-bold">Sprint goal</p>
            <p>Enhance the claimant journey removing the conditional reveal questions</p>
            <p class="govuk-!-font-weight-bold">What changed</p>
            <ul>
              <li><span class="govuk-visually-hidden">USn</span>SMS stories</li>
              <li><span class="govuk-visually-hidden">USn</span>Reveal questions</li>
              <li><span class="govuk-visually-hidden">USn</span>Resolution of business critical bugs</li>
            </ul>
            <p class="govuk-!-font-weight-bold">Why it changed</p>
            <ul>
              <li>Recent accessibility audit found some WCAG non-compliances and GDS usability deviations. The enhancement stories will not adddress some of these issues.</li>
            </ul>
          </div>
        </details>
    
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 13
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-!-font-weight-bold">Sprint goal</p>
            <p>Work management and get next work improvements.</p>
            <p class="govuk-!-font-weight-bold">What changed</p>
            <ul>
              <li><span class="govuk-visually-hidden">USn</span>Shuttering for claims in progress</li>
              <li><span class="govuk-visually-hidden">USn</span>End to end Live Service</li>
              <li><span class="govuk-visually-hidden">USn</span>Get Next  and Work Management stories completed</li>
              <li><span class="govuk-visually-hidden">USn</span>Automatic retry for workbaskets</li>
              <li><span class="govuk-visually-hidden">USn</span>Resolution of business critical bugs</li>
            </ul>
            <p class="govuk-!-font-weight-bold">Why it changed</p>
            <ul>
              <li>Businesses can now easily suspend the service and improve work management and functionality to request the oldest work items (Get next work).</li>
            </ul>
          </div>
        </details>
    
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 12
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-!-font-weight-bold">Sprint goal</p>
            <p>Enhance the claimant pages by removing the conditional questions</p>
            <p class="govuk-!-font-weight-bold">What changed</p>
            <ul>
              <li><span class="govuk-visually-hidden">EPIC</span>Right To Reside/CIS Checker/Home Office</li>
              <li><span class="govuk-visually-hidden">US-10885</span>Claimant reveal updates</li>
              <li><span class="govuk-visually-hidden">US-11186</span>Child reveal updates</li>
              <li><span class="govuk-visually-hidden">US-11185</span>Partner reveal updates</li>
              <li><span class="govuk-visually-hidden">US-10233</span>Employment question split</li>
              <li><span class="govuk-visually-hidden">US-10790</span>Generic 'add up to 3' approach</li>
              <li><span class="govuk-visually-hidden">US-10829</span>Enhance Nationality Listsh</li>
              <li><span class="govuk-visually-hidden">US-10861</span>Enhance Country Lists</li>
              <li><span class="govuk-visually-hidden">US-10943</span>Enhance Partner Questions</li>
              <li><span class="govuk-visually-hidden">US-11007</span>Credit Union enhancement</li>
              <li><span class="govuk-visually-hidden">US-10779</span>Personalise Name to question</li>
              <li><span class="govuk-visually-hidden">US-10611</span>Skip to last question - CYA</li>
              <li><span class="govuk-visually-hidden">US-10437</span>Remove final CYA</li>
              <li><span class="govuk-visually-hidden">US-10820</span>Claimant Task List/Progress View</li>
              <li><a href="#28-days" name="28-days" target="_self"><span
                    class="govuk-visually-hidden">US-11217</span>Archive/remove cases after 28 days</a></li>
            </ul>
            <p class="govuk-!-font-weight-bold">Why it changed</p>
            <ul>
              <li>New buisness features</li>
            </ul>
          </div>
        </details>
    
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 11
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-!-font-weight-bold">Sprint goal</p>
            <p>Proof of entitlement and payment history</p>
            <p class="govuk-!-font-weight-bold">What changed</p>
            <ul>
              <li><span class="govuk-visually-hidden">EPIC-2509</span>Proof of entitlement</li>
              <li><span class="govuk-visually-hidden">US-10099</span>NPS Service not available</li>
              <li><span class="govuk-visually-hidden">US-11245</span>Stripping Letters with special characters</li>
              <li><span class="govuk-visually-hidden">US-11308</span>Update of Submission Date to Claim Replay</li>
            </ul>
            <p class="govuk-!-font-weight-bold">Why it changed</p>
            <ul>
              <li>New buisness features</li>
            </ul>
          </div>
        </details>

        <h3 class="govuk-heading-s" data-track-count="sidebarRelatedItemSection">
          Beta assessment artefacts
        </h3>

        <nav role="navigation" class="" aria-labelledby="related-nav-related_items-6f72e62c" data-module="gem-toggle"
          data-gem-toggle-module-started="true">

          <ul class="govuk-list govuk-!-font-size-16">
            <li class="">
              {{govukTag({
              text: "DRAFT",
              classes: "govuk-tag--grey govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="public/pdf/pdf-accessibility.pdf">
                PDF accessibility acceptance checklist
              </a>
            </li>

            <li class="">
              {{govukTag({
              text: "EXAMPLE",
              classes: "govuk-tag--grey govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="end-to-end/govuk-country-and-territory-autocomplete/example">

                GOV.UK country and territory autocomplete</a>
            </li>
            <li class="">
              {{govukTag({
              text: "NEW",
              classes: "govuk-tag--blue govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="././accessibility/accessibility-statement-oct">

                Accessibility statement WCAG 2.2 template</a>
            </li>
            <li class="">
              {{govukTag({
              text: "ARCHIVED",
              classes: "govuk-tag--grey govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="/accessibility/accessibility-statement">

                Accessibility statement</a>
            </li>
            <li class="">
              {{govukTag({
              text: "DRAFT",
              classes: "govuk-tag--grey govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="end-to-end/accessibility/acceptance-checklist">

                Accessibility acceptance checklist</a>
            </li>

            <li class="">
              {{govukTag({
              text: "COMING",
              classes: "govuk-tag--yellow govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="#">
                Customer insights</a>
            </li>
            <li class="">
              {{govukTag({
              text: "CONTENT",
              classes: "govuk-tag--green govuk-list govuk-!-font-size-14"
              })}}
              <a class="govuk-link govuk-link" href="https://design.tax.service.gov.uk/hmrc-content-style-guide/">HMRC
                content style guide</a>
            </li>
          </ul>

        </nav>
      </div>
    </div>
  </div>
</div>

{% endblock %}
