{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Have you ever been known by any other last name or family name including your maiden name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/one-thing-per-page/tell-us-the-other-name" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "known-name",
          fieldset: {
            legend: {
              text: "Have you ever been known by any other last names or family names including your maiden name?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}
 
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>       

      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
