{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
  Chidlren list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Children added to your claim
      </h1>

      <form 
        class="form" 
        action="/child-benefit/end-to-end/multiple-children/your-net-income" 
        method="post"
      >

        <p>
          {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

          {{ govukSummaryList({
            card: {
              title: {
                text: "Child 1"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Remove",
                    visuallyHiddenText: "child 2"
                  },
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "child 2"
                  }
                ]
              }
            },
            rows: [
              {
                key: {
                  text: "First name"
                },
                value: {
                  html: "Dean"
                }
              },
              {
                key: {
                  text: "Date of birth"
                },
                value: {
                  html: "01/03/2023"
                }
              }
            ]
          }) }}

          {{ govukButton({
            text: "Add another child",
            classes: "govuk-button--secondary"
          }) }}

        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
