{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
What is the name of the person the child lives with? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="know-address-of-person-child-lives-with" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "What is the name of the person the child lives with?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }) %}

          {{ govukInput({
            label: {
              text: "First name or given names"
            },
            id: "person-child-lives-with-first-name",
            name: "child-benefit[end-to-end][person-child-lives-with-first-name]",
            autocomplete: "person-child-lives-with-first-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Middle name"
            },
            id: "person-child-lives-with-middle-name",
            name: "child-benefit[end-to-end][person-child-lives-with-middle-name]",
            autocomplete: "person-child-lives-with-middle-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name(s) or family name(s)"
            },
            id: "person-child-lives-with-last-name",
            name: "child-benefit[end-to-end][person-child-lives-with-last-name]",
            autocomplete: "person-child-lives-with-last-name"
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>  
      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
