{% extends "common/layouts/self-assessment.html" %}

{% block beforeContent %}
  {{ layoutBackLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Self Assessment: Penalties and Appeals</h1>
    <p class="govuk-body">A service for claimants to submit appeals to penalities through Self Assessment.</p>

    {{ documentDesign({
      name: "Name of design goes here",
      summary: "Description of design goes here.",
      date: "24 November 2023",
      revisions: [
      {
        tag: { text: "awd", classes: "govuk-tag--grey" }, summary: "awd", href: "./"
      }]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <h3 class="govuk-heading-s">Sprints</h3>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 1
            </span>
          </summary>
          <div class="govuk-details__text">
            <p  class="govuk-body">Bulleted list of sprint goals goes here</p>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

{% endblock %}
