{% extends "common/layouts/self-assessment.html" %}

{% import "common/urls.html" as urls %}
{% import "common/macros/layout.html" as layout %}

{% block beforeContent %}
  {{ layout.backLink() }}
{% endblock %}

{% from "common/macros/document-design.html" import documentDesign %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Self Assessment: Penalties and Appeals</h1>
    <p class="govuk-body">A service for claimants to submit appeals to penalities through Self Assessment.</p>

    {{ documentDesign({
      name: "Your details",
      summary: "The personal details for the SA appeal £100 penalty for filling your Self Assessment tax return late.",
      date: "6 December 2023",
      includeSeparator: "Yes",
      revisions: [
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Confirm your details using the information confirmation pattern", 
        href: urls.self_assessment_p&a + "/confirm-your-details"
      }]
    }) }}

    {{ documentDesign({
      name: "Penalty details",
      summary: "",
      date: "6 December 2023",
      includeSeparator: "Yes",
      revisions: [
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Penalty details and the tax year the penalty relates to", 
        href: "#"
      }]
    }) }}

    {{ documentDesign({
      name: "Reason details",
      summary: "",
      date: "6 December 2023",
      includeSeparator: "Yes",
      revisions: [
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Reason your appeal is late", 
        href: "#"
      },
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Reason for late filing", 
        href: urls.self_assessment_p&a + "/reason-for-late-filing"
      }]
    }) }}

    {{ documentDesign({
      name: "Tax return",
      summary: "",
      date: "6 December 2023",
      includeSeparator: "Yes",
      revisions: [
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Asking if the PT has sent their tax return", 
        href: "#"
      }]
    }) }}

    {{ documentDesign({
      name: "Check answers",
      summary: "Let users check their answers before submitting information to a service.",
      date: "6 December 2023",
      includeSeparator: "Yes",
      revisions: [
      {
        tag: { 
          text: "new", 
          classes: "govuk-tag--blue" 
        }, 
        summary: "Asking if the PT has sent their tax return", 
        href: "#"
      }]
    }) }}

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="gem-c-contextual-sidebar">

      <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
        data-ga4-link-tracker-module-started="true">
        <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
          Related content
        </h2>

        <h3 class="govuk-heading-s">Sprints</h3>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 2
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              <li>Implementation of AS-IS user journey</li>
              <li>Replication of £100 late penality filing form</li>
            </ul>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sprint 1
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullets">
              <li>Setting up environment in Pega</li>
              <li>Q&A with PO and SMEs</li>
              <li>Establish working best practices</li>
            </ul>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>

{% endblock %}
