{% extends "common/layouts/self-assessment.html" %}

{% import "common/urls.html" as urls %}
{% import "common/macros/layout.html" as layout %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layout.phaseBanner() }}
  {{ layout.languageSelect() }}
  {{ layout.backLink() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{ urls.self_assessment_p&a }}/reason-answer" method="post">

      <span class="govuk-caption-l">Reason for late filing</span>

{{ govukRadios({
  name: "self-assessment[penalties-and-appeals][reasonLateFiling]",
  fieldset: {
    legend: {
      text: " Why did you send your tax return late?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "partner-died",
      text: "Your partner or close relative died shortly before the tax return deadline"
    },
    {
      value: "hospital-stay",
      text: "You had an unexpected stay in hospital that prevented you from filing your tax return"
    },
    {
      value: "serious-life",
      text: "You had a serious or life-threating illness"
    },
    {
      value: "comnputer-software",
      text: "Your computer or software failed just before or while you were preparing your online tax return"
    },
    {
      value: "service-issue",
      text: "Service issues with HM Revenue and Customer (HMRC) online services"
    },
    {
      value: "fire-flood",
      text: "A fire, flood or theft prevented you from completeing your tax return"
    },
    {
      value: "postal-delays",
      text: "Postal delays that you couldn't have predicted"
    },
    {
      value: "fire-flood",
      text: "You filed your return on time"
    },
    {
      value: "fire-flood",
      text: "You didn't receive a notice to file"
    },
    {
      value: "other-reason",
      text: "Other"
    }

  ]
}) }}

        {{ layout.saveAndContinuePattern({
          href: urls.self_assessment_p&a
        }) }}     

      </form>

    </div>
  </div>

  {{ layout.pageNotWorkingLink() }}

{% endblock %}
