{% extends "common/layouts/self-assessment.html" %}

{% import "common/urls.html" as urls %}
{% import "common/macros/layout.html" as layout %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layout.phaseBanner() }}
  {{ layout.languageSelect() }}
  {{ layout.backLink() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/form-handler" method="post" novalidate>

      <span class="govuk-caption-l">Reason for late filing</span>

{{ govukRadios({
  name: "reasonLateFiling",
  fieldset: {
    legend: {
      text: " Why did you send your tax return late?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "england",
      text: "England"
    },
    {
      value: "scotland",
      text: "Scotland"
    },
    {
      value: "wales",
      text: "Wales"
    },
    {
      value: "northern-ireland",
      text: "Northern Ireland"
    }
  ]
}) }}

        {{ layout.saveAndContinuePattern({
          href: urls.self_assessment_p&a
        }) }}     

      </form>

    </div>
  </div>

  {{ layout.pageNotWorkingLink() }}

{% endblock %}
