{% extends "common/layouts/child-benefit.html" %}

{% import "common/urls.html" as urls %}
{% import "common/macros/layout.html" as layout %}

{% block pageTitle %}
  Details about where you have lived – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Details about where you have lived
      </h1>

      <p class="govuk-body">The UK includes England, Wales, Scotland and Northern Ireland. The UK does not include the Isle of Man, Channel Islands or <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">British overseas territories (opens in new tab)</a>.</p>

      <p class="govuk-body">You have lived abroad if you were outside of the UK for 8 weeks in a row. Do not include when you stayed in other countries for holidays or work. </p>

      <form class="form" action="{{ urls.child_benefit_e2e_complex_question }}/confirm-lived-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "child-benefit[end-to-end][complex-question][details-lived-address-data]",
          value: data['child-benefit']['end-to-end']['complex-question']['details-lived-address-data'],
          fieldset: {
            legend: {
              text: "Where have you lived?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
            
          },

          hint: {
            text: ""
          },
          items: [
            {
              value: "LivedUK",
              text: "Always lived in the UK"
            },
            {
              value: "livedUKAbroad",
              text: "Lived in the UK or abroad"
            },
            {
              value: "NeverLivedUK",
              text: "Never lived in the UK"
            }
          ]
        }) }}

        {{ layout.saveAndContinuePattern({
          href: urls.child_benfit_end_to_end_complex_question
        }) }}  

      </form>

    </div>
  </div>

  {{ layout.pageNotWorkingLink() }}

{% endblock %}
