{% extends "common/layouts/child-benefit.html" %}

{% import "common/urls.html" as urls %}
{% import "common/macros/layout.html" as layout %}

{% block pageTitle %}
Current address you live at now – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Current address you live at now
      </h1>

      <!-- <p class="govuk-body">This is the address you live at now.</p> -->

      <p class="govuk-body">The UK includes England, Wales, Scotland and Northern Ireland. The UK does not include the Isle of Man, Channel Islands or <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">British overseas territories (opens in new tab)</a>.</p>

      <form class="form" action="{{ urls.child_benefit_end_to_end_complex_question }}/confirm-current-address-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "child-benefit[end-to-end][complex-question][details-lived-uk-data]",
          value: data['child-benefit']['end-to-end']['complex-question']['details-lived-uk-data'],
          fieldset: {
            legend: {
              text: "Is your current address in the UK?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
            
          },

          hint: {
            text: ""
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ layout.saveAndContinuePattern({
          href: urls.child_benfit_e2e_complex_question
        }) }}  

      </form>

    </div>
  </div>

  {{ layout.pageNotWorkingLink() }}

{% endblock %}
