{% extends "layouts/main.html" %}

{% block pageTitle %}
Child Benefit claim – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Child Benefit claim
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Claim Complete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 4 of 4 sections.</p>

      <ul class="govuk-prototype-kit-task-list govuk-prototype-kit-task-list__items govuk-!-padding-left-0">
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="/national-insurance" aria-describedby="your-details-status">
              Your details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--green govuk-prototype-kit-task-list__tag" id="your-details-status">
            Complete
          </strong>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="/marital-status" aria-describedby="relationship-details-status">
              Relationship details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--green govuk-prototype-kit-task-list__tag" id="relationship-details-status">
            Complete
          </strong>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="/multiple-children" aria-describedby="child-details-status">
              Child details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--green govuk-prototype-kit-task-list__tag" id="child-details-status">
            Complete
          </strong>
        </li>
        <li class="govuk-prototype-kit-task-list__item">
          <span class="govuk-prototype-kit-task-list__task-name">
            <a href="/your-net-income" aria-describedby="payment-details-status">
              Payment details
            </a>
          </span>
          <strong class="govuk-tag govuk-tag--green govuk-prototype-kit-task-list__tag" id="payment-details-status">
            Complete
          </strong>
        </li>
      </ul>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
