{% extends "layouts/main.html" %}

{% block pageTitle %}
Check your child answers– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your child answers
      </h1>

      <h2 class="govuk-heading-m">Child 1</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "first name"
            },
            value: {
              text: "James"
            },
            actions: {
              items: [
                {
                  href: "../multiple-children/index",
                  text: "Change",
                  visuallyHiddenText: "First name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Has this child ever been known by any other names?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Has this child ever been known by any other names"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Child date of birth"
            },
            value: {
              text: "01/03/2023"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Child date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      <!--
      <h2 class="govuk-heading-m">Child 2</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "first name"
            },
            value: {
              text: "Dean"
            },
            actions: {
              items: [
                {
                  href: "../multiple-children/children-list",
                  text: "Change",
                  visuallyHiddenText: "First name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Has this child ever been known by any other names?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Has this child ever been known by any other names"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Child date of birth"
            },
            value: {
              text: "01/03/2023"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Child date of birth"
                }
              ]
            }
          }
        ]
      }) }}

      -->

     


      <form action="add-another" method="post" novalidate>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>  

      </form>

    </div>
  </div>
{% endblock %}
