{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm and review the child you want to remove
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  classes: ' govuk-!-padding-1',
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: "James"
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "1 January 2023"
      }
  }
  ]
}) }}
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Remove child",
          classes: "govuk-button--warning"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
