{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Check your answers for your relationship details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers for your relationship details
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What is your employment status?"
            },
            value: {
              text: "Answer"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Do you receive any benefits?"
            },
            value: {
              text: "Answer"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Are you a member of HM forces or a civil servant working aboard?"
            },
            value: {
              text: "Answer"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

     

      <p>
        Now complete the child you are claiming for section
      </p>

      <form action="/task-list/your-relationship-complete" method="post" novalidate>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>  

      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}
{% endblock %}
