{% extends "layouts/main.html" %}

{% block pageTitle %}
What are the details of the child you want to claim for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
      <p class="govuk-notification-banner__heading">
        We are unable to verify your child's details.<br/><br />
        Check that the details entered match their birth certificate. If you have just registered their birth, try again in 48 hours.
      </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}

      <h1 class="govuk-heading-l">
        What are the details of the child you want to claim for?
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "You can claim Child Benefit 48 hours after you’ve registered the birth of your child, or once a child comes to live with you.",
        iconFallbackText: "Warning"
      }) }}

      <form class="form" action="/one-thing-per-page/deed-poll" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "First name or given names"
          },
          id: "first-name",
          name: "first-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Middle name"
          },
          id: "middle-name",
          name: "middle-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Last name or family name"
          },
          id: "last-name",
          name: "last-name",
          autocomplete: "name",
          spellcheck: false
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Has this child been known by any other names?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
