{% extends "layouts/main.html" %}

{% block pageTitle %}
Another country details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Another country details
      </h1>

      <form class="form" action="claiming-child-benefit" method="post">

        {{ govukRadios({
          name: "confirm-country",
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Are you now, or have you at any time in the last 3 months worked in another country?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend"
            }
          },
      
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          name: "confirm-country",
          classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Are you now, or have you at any time in the last 3 months received benefits from another country?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend"
            }
          },
          hint: {
            text: "This includes allowances paid to you by a government. The UK includes England, Wales, Scotland and Northern Ireland. The UK does not include Isle of Man, Channel Islands or British overseas territories."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
                
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>   
        
      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
