{% extends "layouts/main.html" %}

{% block pageTitle %}
Are you claiming child benefit right now? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/one-thing-per-page/eldest-child-details" method="post">

        {{ govukRadios({
          name: "claiming-child-benefit-right-now",
          classes: "govuk-radios",
          fieldset: {
            legend: {
              text: "Are you claiming child benefit right now?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This includes allowances paid to you by a government. The UK includes England, Wales, Scotland and Northern Ireland. The UK does not include Isle of Man, Channel Islands or British overseas territories."
          },
          items: [
            {
              value: "Yes",
              text: "Yes and I am getting payments"
            },
            {
              value: "Yesandno",
              text: "Yes and I am not getting any payments"
            },
            {
              value: "No",
              text: "No - This is the first time I am claiming Child Benefit"
            }
          ]
        }) }}
                
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>   
        

      </form>

    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
