{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
  
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block pageTitle %}
  SCA programme
{% endblock %}
  
{% block header %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "#",
    serviceName: "SCA programme",
    containerClasses: "govuk-width-container ",
    navigationClasses: "govuk-header__sign-out-nav",
    navigation: [
      {
        href: "index",
        text: "Sign out"
      }
    ]
  }) }}
{% endblock %}
  
{% block content %}
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-6">
        <span class="govuk-caption-l">Single customer account</span>
        SCA programme 
      </h1>

      <p class="govuk-body-l">A history of the designs for the various journeys and services of the SCA programme.</p>

      <h3 class="govuk-heading-m">Services</h3>
    </div>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/child-benefit">Child Benefit</a>
      </h3>
      <p class="govuk-body">A service for claimants to submit a claim for Child Benefit.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/child-benefit-unauthenticated">Child Benefit unauthenticated</a>
      </h3>
      <p class="govuk-body">A service for claimants without a Government login to submit a claim for Child Benefit.</p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
        <a class="govuk-link" href="/child-benefit">Self Assessment: [INSERT_SA_JOURNEY]</a>
      </h3>
      <p class="govuk-body">A service for [INSERT_USER_HERE] to [INSERT_THE_JOURNEY].</p>
    </section>
  </div>

  <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
    <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
      {#-
        The SVG needs `focusable="false"` so that Internet Explorer does not
        treat it as an interactive element - without this it will be 'focusable'
        when using the keyboard to navigate.
      #}
      <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg"
        width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>Back to top
    </a>
  </div>
{% endblock %}
  
{% block footer %}
  {{ govukFooter({
    classes: "app-footer",
    meta: {
      items: [
        {
          href: "/manage-prototype",
          text: "Manage your prototype"
        },
        {
          href: "/manage-prototype/clear-data",
          text: "Clear data"
        }
      ],
      visuallyHiddenTitle: "Support links"
    }
  }) }}
{% endblock %}


