{% extends "layouts/main.html" %}
{% set mainClasses = "govuk-!-padding-top-1" %}


{% set pageName="Home" %}

{% block content %}

{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl govuk-!-margin-top-6">
    {{ serviceName }} prototypes
  </h1>
  </div>
  
    <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->

    <div class="govuk-grid-column-two-thirds">

    
      <h3 class="govuk-heading-l">End to end</h3>
      
    
        <p>Updated with declaration for adoption and born outside the UK</p>
        <p>
          {{govukTag({
          text: "New",
          classes: "govuk-tag--blue"
          })}}<a href="/start">Journey</a>
        </p>

          <p>
            {{govukTag({
              text: "outdated",
              classes: "govuk-tag--grey govuk-list"
            })}}
       
       <br>     <a class="govuk-link govuk-link" href="#">
           
            Tube map for claimant journey</a>
        
        </p>
        <p>
         
          <a class="govuk-link govuk-link" href="public/pdf/SCA-Journey-02.svg">
         
          Tube map SVG</a>
      
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      
      <h3 class="govuk-heading-l">View the digital version of the claim form</h3>
      <p class="govuk-body govuk-!-font-weight-bold">Why is this needed?</p>
      <p>
        We know some people might have trouble reading a PDF because the text doesn't adjust to fit the screen when the PDF file is enlarged. 
        This means that users may have to scroll horizontally, making it more difficult to read. 
      </p>
      <p>To make it easier, we offer digital versions of claim form info and other details that are usually shown in a PDF. This includes official use info for claims about children born outside the UK when returning documents. </p>
      
      <p>{{govukTag({
        text: "New",
        classes: "govuk-tag--blue"
        })}}

      <a href="post-print/claim-child-benefit-by-post">View claim form</a></p>

      <p>
        {{govukTag({
        text: "Xd",
        classes: "govuk-tag--pink"
        })}}
        <a class="govuk-link govuk-link" href="https://xd.adobe.com/view/afd64ffe-d173-4802-921d-702e06c8c44b-fa85/">
          Submitted claim view
        </a>
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-l">Multiple children</h3>
      
      <p><a href="../multiple-children/index">Journey</a></p>

      <p><a href="public/pdf/SCA-multiple-children.pdf">Tube map</a></p>

      <p>{{govukTag({
        text: "Xd",
        classes: "govuk-tag--pink"
      })}}<a href="https://xd.adobe.com/view/6f71320b-f041-4ec6-a9a0-46a9f8f3f754-3a22/">Tell us about another child</a></p>
      <p>
        {{govukTag({
          text: "Xd",
          classes: "govuk-tag--pink"
        })}}
        <a href="https://xd.adobe.com/view/0f501f61-52a1-4599-ae59-791eadd5376a-5a03/">
          Summary cards for multiple children
          </a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


      <h3 class="govuk-heading-l">Born abroad or adoption declaration and Confirmation page</h3>
      <p><a href="declaration/born-abroad/">Declaration</a></p>
      <p><a href="declaration/confirmation.html">Confirmation</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-l">Service unavailable</h3>
      <p><a href="/service-unavailable-page/index.html">Child Benefit service unavailable page</a></p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-l">Sign out</h3>
      <p>{{govukTag({
        text: "New",
        classes: "govuk-tag--blue"
        })}} <a href="modal-dialog.html">Sign out modal dialog</a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
      <h3 class="govuk-heading-l">My claims portal</h3>

      <p class="govuk-body">This page will show the claims in progress and submitted claims. We need to consider the 14
        day SLA for submitted claims.</p>
  
      <p>{{govukTag({
        text: "New",
        classes: "govuk-tag--blue"
        })}} <a href="my-claims-portal.html">Claims portal</a></p>

        <p>{{govukTag({
          text: "Xd",
          classes: "govuk-tag--pink"
          })}} <a href="https://xd.adobe.com/view/0de52437-a50e-40e8-9927-006d5e839eed-58b6/">Claims portal after accessibility audit observations</a></p>

        
  
      
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  
      <h3 class="govuk-heading-l">Waiting to hear</h3>
  
      <p>{{govukTag({
        text: "New",
        classes: "govuk-tag--blue"
        })}} <a href="waiting-to-hear.html">Waiting to hear if you are eligible </a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  
      <h3 class="govuk-heading-l">Tell us your nationality options</h3>
  
      <p><a href="nationalities.html">Tell us your nationality example with conditonal radio's </a></p>
  
      <p><a href="nationality.html">Tell us your nationality example with a select</a></p>
  
      <p><a href="nationality-autocomplete.html">Tell us your nationality example with accessibile autocomplete</a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
      <h3 class="govuk-heading-l">High income earner options</h3>
  
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
  
      {{ govukInsetText({
      text: "Net income for you and your partner based on your net income. Each answer on your income navigates you to a
      page with information on the charge and if you want to claim Child Benefit."
      }) }}
  
  
      <p><a href="your-net-income.html">Your net income</a></p>
      <p><a href="partner-net-income.html">Partner's net income</a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
      <h4 class="govuk-heading-m">High income design history iterations</h3>
  
  
      <p><a href="hic.html">Tell us if you're a high income earner - showing body copy, and both questions</a></p>
  
      <p><a href="hic-one.html">Tell us if you're a high income earner - one-thing-per-page</a></p>
  
      <p><a href="hic-three.html">Tell us if you're a high income earner - one-thing-per-page (removed are you a high
          income earner?)</a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
      <h3 class="govuk-heading-l">Find an address</h3>
  
      <p><a href="postcode.html">Enter your postcode</a></p>
      <p>
        {{govukTag({
          text: "Xd",
          classes: "govuk-tag--pink"
        })}}
        <a class="govuk-link govuk-link" href="https://xd.adobe.com/view/e471adf7-3c03-4483-830d-c32b532fc9bb-b122/">
          Address flow
        </a>        
      </p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
  
      <h3 class="govuk-heading-l">Bank, building society or universal credit options</h3>
  
      <p><a href="bank-payment-details.html">What are your payment details?</a></p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="no-bank-details.html">No - UK bank account or building society</a></li>
        <li><a href="bank-account-holders.html">Who are the account holders</a></li>
        <li><a href="bank-details.html">Bank details</a></li>
        <li><a href="building-society-details.html">Building society details</a></li>
      </ul>
  
      <p><a href="error-bank-details.html">Error summary for the payment details</a></p>
  
      <p><a href="paid-child-benefit.html">If claimant is on benefits OR martial status single, widowed, separated or divorced</a></p>
  
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  
      <h3 class="govuk-heading-l">Service timeout</h3>
  
      <p><a href="service-timeout.html">When the user is signed in</a></p>
      
      <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->
    
    </div>

    <div class="govuk-grid-column-one-third">
    
      <div class="gem-c-contextual-sidebar">
    
        <div class="" data-module="gem-track-click ga4-link-tracker" data-gem-track-click-module-started="true"
          data-ga4-link-tracker-module-started="true">
          <h2 class="govuk-heading-m" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>

          <h3 class="govuk-heading-s" data-track-count="sidebarRelatedItemSection">
            Beta assessment artefacts
          </h3>
    
          <nav role="navigation" class="" aria-labelledby="related-nav-related_items-6f72e62c" data-module="gem-toggle"
            data-gem-toggle-module-started="true">
    
            <ul class="govuk-list govuk-!-font-size-16">
              <li class="">
                {{govukTag({
                  text: "DRAFT",
                  classes: "govuk-tag--grey govuk-list govuk-!-font-size-14"
                })}}
                <a class="govuk-link govuk-link" href="accessibility/acceptance-checklist">
                
                Accessibility acceptance checklist</a></li>
              
              <li class="">
                {{govukTag({
                  text: "COMING",
                  classes: "govuk-tag--yellow govuk-list govuk-!-font-size-14"
                })}}
                <a class="govuk-link govuk-link" href="#">
              Customer insights</a></li>
              <li class="">
                {{govukTag({
                  text: "CONTENT",
                  classes: "govuk-tag--green govuk-list govuk-!-font-size-14"
                })}}
                <a class="govuk-link govuk-link" href="https://design.tax.service.gov.uk/hmrc-content-style-guide/">HMRC content style guide</a>  
              </li>
            </ul>

            
          </nav>
    
        </div>
      
      </div>
      
        
  </div>
{% endblock %}
