{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your marital or civil partnership status? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  

      <form class="form" action="your-employment-section/check-your-answers" method="post">

        {{ govukRadios({
          name: "confirm-country",
          classes: "govuk-radios",
          fieldset: {
            legend: {
              text: "What is your marital or civil partnership status?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Married or in a civil partnership"
            },
            {
              value: "yesandno",
              text: "Living with partner as if you're married or a civil partner"
            },
            {
              value: "no",
              text: "Single"
            },
            {
              value: "no",
              text: "Separated"
            },
            {
              value: "no",
              text: "Divorced"
            },
            {
              value: "no",
              text: "Widowed"
            }
          ]
        }) }}
                
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
                  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Cancel
                  </button>
                  
                </div>
                <p><a class="govuk-link" href="#">Save and come back later</a></p>   
        

      </form>

    </div>
  </div>

{% endblock %}
