{% extends "layouts/main.html" %}

{% block pageTitle %}
Your claims application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

{{ layoutPhaseBanner() }}
{{ layoutLanguageSelect() }}

{{ govukBreadcrumbs({
items: [
{
text: "Personal tax account home",
href: "#"
},
{
text: "Your portal",
href: "#"
}
]
}) }}

{% endblock %}

{% block content %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Your claim applications
    </h1>


  </div>

</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-prototype-kit-common-templates-mainstream-guide-body">



    <p>
        This page shows two groups of claims:
    </p>

     <ul class="govuk-list govuk-list--bullet">
        <li>claims that are in progress</li>
        <li>claims that have already been submitted</li>
     </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
<div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Child Benefit claims in progress
    </h2>

    {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "We have saved your progress and will store your information for 28 days. Please ensure you submit this claim within 14 days.",
  iconFallbackText: "Warning"
}) }}

    <h3 class="govuk-heading-s">
        Children addded
      </h3>


    {{ govukSummaryList({
      rows: [
        {
          key: {
          html: "<h4 class='govuk-heading-s govuk-!-margin-bottom-0'>Jon Doe</h4>
          <p class='govuk-!-font-weight-regular'>Date of birth  01/01/2023</p>
          "
          },
          actions: {
            classes: "govuk-!-width-one-half",
          items: [
            {
              href: "#",
              html: " <strong class='govuk-tag govuk-tag--blue'>
                In progress
              </strong>",
              visuallyHiddenText: "In progress"
            }
          ]
          }
        }
      ]
      
      }) }}

      {{ govukSummaryList({
        rows: [
          {
            key: {
            html: "<h4 class='govuk-heading-s govuk-!-margin-bottom-0'>Lonnie Doe</h4>
            <p class='govuk-!-font-weight-regular'>Date of birth  01/01/2023</p>
            <button class='govuk-button govuk-button--secondary' data-module='govuk-button'>
             Continue claim
            </button>"
            }
            
          }
        ]
        
        }) }}
  
   

    
        <h2 class="govuk-heading-m">
          Child Benefit submitted claims
      </h2>
  
      <p>No submitted claims</p>

    
<h3 class="govuk-heading-m">
    Make a new claim
</h3>
<p>Use this service to make a new claim for Child Benefit.</p>


  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
  text: "Begin new claim",
  href: "/start",
  isStartButton: true
  }) }}

  <h3 class="govuk-heading-m" id="subsection-title">
    Online
  </h3>
  <p><a href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit">Ask HMRC online (opens in new tab)</a>
  </p>
  <p>
    Ask HMRC’s digital assistant to find information about:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>claiming Child Benefit</li>
    <li>the High Income Child Benefit Tax Charge</li>
    <li>any change of circumstances for you or your child which may affect your claim</li>
  </ul>
    </div>
    
</div>


<!--
  <div class="govuk-grid-column-one-third">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related information
      </h2>


      <nav role="navigation" aria-labelledby="subsection-title">

        <h4 class="govuk-heading-s" id="subsection-title">
          Manage claims
        </h4>
        <p>Call the Child Benefit helpline if
          you need to speak with us or use
          the chat</p>
        <p>You’ll need:</p>

        <ul class="govuk-list govuk-list--bullet">

          <li>
            National Insurance number
          </li>

        </ul>

        {{ govukInsetText({
        html: "Child Benefit helpline<br>
        Telephone: 0300 200 3100<br>
        Welsh language: 0300 200 1900<br>
        Textphone: 0300 200 3103<br>
        Outside UK: +44 161 210 3086<br>
        Monday to Friday, 8am to 6pm<br>
        Find out about call charges"
        }) }}

        <h3 class="govuk-heading-m" id="subsection-title">
          Online
        </h3>
        <p><a href="https://www.tax.service.gov.uk/ask-hmrc/chat/child-benefit">Ask HMRC online (opens in new tab)</a>
        </p>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
        text: "Begin new claim",
        href: "/start",
        isStartButton: true
        }) }}
      </nav>
    </aside>

  </div>
-->

  {{ layoutServiceLinks() }}

  </main>
</div>





</div>
</div>

{% endblock %}