{% extends "layouts/main.html" %}

{% block pageTitle %}
  Nationality details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Nationality details
      </h1>

      <form class="form" action="/where-have-you-lived" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/select/macro.njk" import govukSelect %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        <div class="govuk-form-group">
          {% include "partials/nationality-autocomplete.html" %}
       
          {{ govukRadios({
            name: "nationality-another",
            value: data['nationality-another'],
            classes: "govuk-radios--inline",
            fieldset: {
              legend: {
                text: "Do you have another nationality?"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        </div>
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>   

        {{ layoutServiceLinks() }}  

      </form>
    </div>
  </div>

{% endblock %}
