{% extends "layouts/main.html" %}

{% block pageTitle %}
What is your telephone number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    
      <form class="form" action="nationality" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What is your telephone number?",
           
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-20",
          hint: {
            text: "We may use this to contact you about your claim. Our number may not show up if we call you. For numbers outside of the UK, include the country code. For example, 01632 960 001, 07700 900 982 or +44 808 157 0192."
          },
          id: "tel-name",
          name: "tel-name"
        }) }}
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
          
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>        


      </form>

    </div>
  </div>

{% endblock %}
