{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Child's other name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/one-thing-per-page/further-child-details" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Child's other name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "other-last-names",
          name: "other-last-names"
        }) }}
        
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </button>
        </div>

        <p><a class="govuk-link" href="#">Save and come back later</a></p>       

      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
