{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Other claimant details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Other claimant details</h1>

      <form class="form" action="/one-thing-per-page/find-address-of-previous-claimant" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "What is the name of the person who claimed Child Benefit for this child?",
            classes: "govuk-fieldset__legend--m"
          }
        }) %}

          {{ govukInput({
            label: {
              text: "First name or given names"
            },
            id: "previous-claimant-first-name",
            name: "previous-claimant-first-name",
            autocomplete: "previous-claimant-first-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Middle name"
            },
            id: "previous-claimant-middle-name",
            name: "previous-claimant-middle-name",
            autocomplete: "previous-claimant-middle-name"
          }) }}

          {{ govukInput({
            label: {
              text: "Last name(s) or family name(s)"
            },
            id: "previous-claimant-last-name",
            name: "previous-claimant-last-name",
            autocomplete: "previous-claimant-last-name"
          }) }}

        {% endcall %}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "do-you-know-the-address-of-the-previous-claimant",
          fieldset: {
            legend: {
              text: "Do you know the address of the other claimant?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
                
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>   
      
      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}
