{% extends "common/layouts/child-benefit.html" %}

{% block pageTitle %}
Does the child's birth certificate have a registration number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ layoutPhaseBanner() }}
  {{ layoutLanguageSelect() }}
  {{ layoutBackLink() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="registration-number-input" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "child-benefit[end-to-end][birth-certificate-have-registration-number]",
          fieldset: {
            legend: {
              text: "Does the child's birth certificate have a registration number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is at the top right hand corner of their birth certificate. For example B12345678."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
                
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary"
          }) }}
        </div>
        <p><a class="govuk-link" href="#">Save and come back later</a></p>   
      
      </form>
    </div>
  </div>

  {{ layoutServiceLinks() }}

{% endblock %}