{% extends "common/layouts/aui.html" %}
{% import "common/urls.html" as urls %}

{% set auiBeforePage = true %}

{% block beforePage %}
{% from "common/macros/aui.html" import auiSidebarNavigation %}
{{ auiSidebarNavigation({
items: [
{
href: "#",
text: "My work",
icon: "case",
active: true
}
]
}) }}
{% endblock %}


{# {% block beforePage %}
{% from "common/macros/aui.html" import auiCustomerInformationBanner %}
{{ auiCustomerInformationBanner() }}
{% endblock %} #}

{% block page %}
hello page content
{% endblock %}