{# Common #}

{% set common = "/common" %}
{% set common_templates = "/common/templates" %}
{% set common_layouts = "/common/layouts" %}
{% set common_macros = "/common/macros" %}

{# Adviser UI services #}

{% set aui = "/aui" %}

{# Child Benefit services #}

{% set child_benefit = "/child-benefit" %}
{% set child_benefit_e2e = "/child-benefit/end-to-end" %}
{% set child_benefit_poe = "/child-benefit/proof-of-entitlement" %}
{% set child_benefit_portal = "/child-benefit/portal" %}
{% set child_benefit_unauth = "/child-benefit/unauth" %}
{% set child_benefit_sms = "/child-benefit/sms" %}

{# PAYE services #}

{% set paye = "/paye" %}

{# Self Assessment services #}

{% set self_assessment = "/self-assessment" %}
{% set self_assessment_p&a = "/self-assessment/penalties-and-appeals" %}