{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/py-icons.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% set serviceName %}
Adviser UI
{% endset %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
<header class="aui-header" role="banner" aria-label="Top panel">
  <div class="aui-header__left">
    <img class="aui-header__logo" src="/public/svg/hmrc-logo-white.svg" alt="HM Revenue and Customs - Home">
    <div class="aui-header__left-service-name">{{ serviceName | upper }}</div>
    <a class="aui-header__left-new" href="" title="New">
      <i class="pi pi-plus" aria-hidden="true"></i>
      New
    </a>
  </div>

  <div class="aui-header__right">
    <button class="aui-header__right-button" title="Start your day">
      <i class="pi pi-phone-solid" aria-hidden="true"></i>
    </button>
  </div>
</header>
{% endblock %}

{% set containerClasses = "aui-wrapper" %}
{% set mainClasses = "aui-wrapper" %}

{% block content %}
  <div class="aui-container">
    <aside class="aui-sidebar">
      <ul class="govuk-list">
        <li class="aui-list-item">
          <a href="" class="aui-list-item__link">
            <i class="pi pi-case-solid" aria-hidden="true"></i> My work
          </a>
        </li>
        <li class="aui-list-item">
          <a href="" class="aui-list-item__link">
            <i class="pi pi-gauge" aria-hidden="true"></i> Dashboard
          </a>
        </li>
        <li class="aui-list-item">
          <details>
            <summary>
              <i class="pi pi-case-solid" aria-hidden="true"></i> Manager's tools
            </summary>
            
            <li class="aui-list-item">
              <a href="" class="aui-list-item__link">
                <i class="pi pi-case-solid" aria-hidden="true"></i> Shuttering
              </a>
            </li>
          </details>
        </li>
        <li class="aui-list-item">
          <a href="" class="aui-list-item__link">
            <i class="pi pi-case-solid" aria-hidden="true"></i> Presence
          </a>
        </li>
      </ul>
    </aside>
    <section aria-label="AUI page">
      <h1 class="govuk-heading-l aui-page-heading">Hello there</h1>

      <div class="aui-page">
        {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

        {% set html %}
          <p class="govuk-notification-banner__heading">
            You have 7 days left to send your application.
            <a class="govuk-notification-banner__link" href="#">View application</a>.
          </p>
        {% endset %}
        
        {{ govukNotificationBanner({
          html: html
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--small",
          name: "changedName",
          fieldset: {
            legend: {
              text: "Filter",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "month",
              text: "Monthly"
            },
            {
              value: "year",
              text: "Yearly"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save and continue"
          }) }}

          {{ govukButton({
            text: "Save as draft",
            classes: "govuk-button--secondary"
          }) }}

          {{ govukButton({
            text: "Delete account",
            classes: "govuk-button--warning"
          }) }}
        </div>
      </div>
    </section>
  </div>
{% endblock %}